<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
   <event name="checkout_cart_product_add_after">
       <observer name="dynamic_bundle_add_to_cart" instance="ForeverCompanies\DynamicBundle\Observer\AddToCart" />
   </event>
   <event name="checkout_cart_product_update_after">
        <observer name="dynamic_bundle_set_options_for_item_update" instance="ForeverCompanies\DynamicBundle\Observer\SetOptionsForItem"/>
    </event>
</config>