<?xml version="1.0"?>
<config xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ForeverCompanies_Promotions::ForeverCompanies_promotion"
             title="ForeverCompanies Catalog Rules"
             module="ForeverCompanies_Promotions"
             parent="Magento_CatalogRule::promo"
             sortOrder="40"
             action="forevercompanies_rules/promo_rule/index"
             dependsOnModule="Magento_Sales"
             resource="ForeverCompanies_Promotions::promotions"
        />
        <add id="ForeverCompanies_Promotions::ForeverCompanies_promotions_new"
             title="ForeverCompanies Catalog Rules: Add New"
             module="ForeverCompanies_Promotions"
             parent="ForeverCompanies_Promotions::ForeverCompanies_promotion"
             sortOrder="50"
             action="forevercompanies_rules/promo_rule/newAction"
             dependsOnModule="Magento_Sales"
             resource="ForeverCompanies_Promotions::promotions"
        />
    </menu>
</config>
