@font-face {
  font-family: "Gotham Light";
  src: url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.eot");
  src: url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.woff") format("woff"), url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/924ee4158324c02e3e0d62e54cafd14f.svg#Gotham Book") format("svg"); }

@font-face {
  font-family: "Didot";
  src: url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.eot");
  src: url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.woff") format("woff"), url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/251039e6849ad977a8bfc40b564dce89.svg#Didot") format("svg"); }

@font-face {
  font-family: "Gotham Bold";
  src: url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.eot");
  src: url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.woff") format("woff"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5d6f50ed2dde0e4ad455448f896c09f0.svg#Gotham") format("svg"); }

.page-main > .page-title-wrapper .page-title, .account .page-main .page-title-wrapper .page-title {
  font-family: 'Didot';
  font-size: 40px;
  letter-spacing: 0.32px;
  color: #000; }

.block .block-title {
  border-bottom: 1px solid #BCBCBC; }
  .block .block-title strong {
    font-family: 'Didot';
    font-size: 24px;
    color: #000; }

.field.note, p {
  font-family: "Gotham Light", Arial, serif;
  font-size: 14px; }

.fieldset > .field > .label, .fieldset > .fields > .field > .label {
  font-family: "Gotham Bold", Arial, serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0px; }
  .fieldset > .field > .label:after, .fieldset > .fields > .field > .label:after {
    color: #000; }

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
  border: 1px solid #BCBCBC; }

.actions-toolbar > .primary .action, .actions-toolbar > .primary .action:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 0;
  height: 40px;
  box-sizing: border-box;
  padding: 0 15px; }
  .actions-toolbar > .primary .action span, .actions-toolbar > .primary .action:last-child span {
    font-family: "Gotham Bold", Arial, serif;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .actions-toolbar > .primary .action, .actions-toolbar > .primary .action:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      margin-bottom: 24px; } }

.actions-toolbar > .secondary .action:last-child {
  font-family: "Gotham Bold", Arial, serif;
  font-weight: normal;
  font-size: 14px;
  color: #000;
  text-transform: uppercase; }

.fieldset:after {
  font-family: "Gotham Light";
  font-weight: normal;
  font-size: 14px;
  color: #DA1E28; }

@media screen and (max-width: 768px) {
  .page-header {
    margin-bottom: 33px; } }

.navigation ul {
  margin-left: 0; }
  .navigation ul li {
    font-weight: normal; }

header .panel,
.block-search,
.minicart-wrapper,
.nav-toggle {
  display: none; }

.page-header .logo {
  left: 50%;
  transform: translate(-50%);
  margin: 10px 0; }
  .page-header .logo svg {
    width: 152px; }
    .page-header .logo svg:hover {
      fill: #bfa374; }

.customer-account-login .page-title {
  font-size: 40px !important;
  line-height: 48px !important;
  letter-spacing: normal; }
  @media screen and (min-width: 1025px) {
    .customer-account-login .page-title {
      font-size: 52px !important;
      line-height: 60px !important; } }

.customer-account-login .actions-toolbar {
  width: auto !important;
  background: transparent !important; }
  .customer-account-login .actions-toolbar .primary {
    width: auto !important; }
    .customer-account-login .actions-toolbar .primary:hover {
      background: #383838 !important; }
    .customer-account-login .actions-toolbar .primary .login,
    .customer-account-login .actions-toolbar .primary .create {
      cursor: pointer;
      text-align: center;
      margin: auto;
      color: #fff !important;
      display: flex !important;
      background-color: #000;
      border: none;
      letter-spacing: normal;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      padding: 16px 24px;
      width: 100% !important; }
      .customer-account-login .actions-toolbar .primary .login:hover,
      .customer-account-login .actions-toolbar .primary .create:hover {
        background-color: #383838; }
      @media screen and (min-width: 640px) {
        .customer-account-login .actions-toolbar .primary .login,
        .customer-account-login .actions-toolbar .primary .create {
          width: auto; } }

.customer-account-login .fieldset:after {
  font-size: 12px !important; }

.customer-account-create .page-title {
  font-size: 40px !important;
  line-height: 48px !important;
  letter-spacing: normal; }
  @media screen and (min-width: 1025px) {
    .customer-account-create .page-title {
      font-size: 52px !important;
      line-height: 60px !important; } }

.customer-account-create .actions-toolbar {
  width: auto !important;
  background: transparent !important; }
  .customer-account-create .actions-toolbar .primary {
    width: auto !important; }
    .customer-account-create .actions-toolbar .primary:hover {
      background: #383838 !important; }
    .customer-account-create .actions-toolbar .primary .submit {
      cursor: pointer;
      text-align: center;
      margin: auto;
      color: #fff !important;
      display: flex !important;
      background-color: #000;
      border: none;
      letter-spacing: normal;
      line-height: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      padding: 16px 24px;
      width: 100% !important; }
      .customer-account-create .actions-toolbar .primary .submit:hover {
        background-color: #383838; }
      @media screen and (min-width: 640px) {
        .customer-account-create .actions-toolbar .primary .submit {
          width: auto; } }

.customer-account-create .fieldset:after {
  font-size: 12px !important; }

@media screen and (max-width: 768px) {
  .account .page-header {
    margin-bottom: 20px;
    border-bottom: 0; } }

.account .page-header .block-minicart .block-content > .actions > .primary .action.primary {
  background: #000000 0% 0% no-repeat padding-box;
  border-color: #000000; }

.account .page-header .minicart-items .action.edit {
  display: none; }

@media screen and (max-width: 768px) {
  .account .page-main {
    padding-top: 56px; } }

.account form .fieldset legend span {
  font-family: 'Didot';
  font-size: 24px;
  letter-spacing: 0.19px;
  color: #000000; }

.account .column.main .block:not(.widget) .block-title {
  border-bottom: 1px solid #bcbcbc;
  padding-bottom: 16px;
  margin-bottom: 16px; }

.account .block-dashboard-info .action,
.account .block-dashboard-addresses .action,
.account .box-address-billing .action,
.account .box-address-shipping .action {
  color: #000;
  font-family: 'Gotham Bold';
  font-size: 12px;
  letter-spacing: 0px;
  text-transform: uppercase; }

.account .block-dashboard-info .block-content address,
.account .block-dashboard-addresses .block-content address,
.account .box-address-billing .block-content address,
.account .box-address-shipping .block-content address {
  font-family: 'Gotham Light', Arial, serif;
  font-size: 14px; }
  .account .block-dashboard-info .block-content address a,
  .account .block-dashboard-addresses .block-content address a,
  .account .box-address-billing .block-content address a,
  .account .box-address-shipping .block-content address a {
    color: #000; }

.account #maincontent
> div.columns
> div.column.main
> div.block.block-addresses-default
> div.block-content
> div.box.box-address-billing
> div.box-content
> address
> a,
.account #maincontent
> div.columns
> div.column.main
> div.block.block-addresses-default
> div.block-content
> div.box.box-address-shipping
> div.box-content
> address
> a {
  color: #000; }

.account .block-wishlist {
  display: none; }

.account .page-title {
  font-size: 40px !important;
  line-height: 48px !important;
  letter-spacing: normal; }
  @media screen and (min-width: 1025px) {
    .account .page-title {
      font-size: 52px !important;
      line-height: 60px !important; } }

.account .block-collapsible-nav .item.current > strong {
  border-color: #bfa374 !important; }

footer {
  display: none; }

.copyright {
  background: transparent;
  color: #000; }
  .copyright a {
    color: #000; }
    .copyright a:hover {
      color: #000;
      text-decoration: underline; }

.checkout-cart-index .page-title {
  font-size: 40px !important;
  line-height: 48px !important;
  letter-spacing: normal; }
  @media screen and (min-width: 1025px) {
    .checkout-cart-index .page-title {
      font-size: 52px !important;
      line-height: 60px !important; } }

.checkout-cart-index a.towishlist,
.checkout-cart-index .clear,
.checkout-cart-index .cart-gift-item .title > span,
.checkout-cart-index .cart-discount .title > strong,
.checkout-cart-index .we-accept a,
.checkout-cart-index .affirm-modal-trigger,
.checkout-cart-index .action-continue .continue {
  color: #000 !important; }
  .checkout-cart-index a.towishlist:hover,
  .checkout-cart-index .clear:hover,
  .checkout-cart-index .cart-gift-item .title > span:hover,
  .checkout-cart-index .cart-discount .title > strong:hover,
  .checkout-cart-index .we-accept a:hover,
  .checkout-cart-index .affirm-modal-trigger:hover,
  .checkout-cart-index .action-continue .continue:hover {
    color: #bfa374 !important; }

.checkout-cart-index .we-accept-cards {
  background-image: none; }

.checkout-cart-index #affirmfinance a {
  text-transform: none;
  display: block;
  font-size: 14px; }

.checkout-cart-index .action.continue {
  text-transform: none;
  font-family: 'Gotham Bold'; }

.checkout-cart-index .coupon {
  display: flex; }
  .checkout-cart-index .coupon .field {
    width: 85%;
    margin: 0; }
    .checkout-cart-index .coupon .field .control {
      height: 100%; }
      .checkout-cart-index .coupon .field .control input {
        height: 100%; }
  .checkout-cart-index .coupon .actions-toolbar {
    width: auto !important; }
  .checkout-cart-index .coupon .action {
    cursor: pointer;
    text-align: center;
    margin: auto;
    color: #fff !important;
    display: flex !important;
    background-color: #000;
    border: none !important;
    letter-spacing: normal;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 16px 24px;
    width: 100% !important;
    margin: auto !important; }
    .checkout-cart-index .coupon .action:hover {
      background-color: #383838 !important; }

.checkout-cart-index .action.primary.checkout {
  cursor: pointer;
  text-align: center;
  margin: auto;
  color: #fff !important;
  font-family: 'Gotham';
  background-color: #000;
  border: none !important;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 14px !important;
  padding: 16px 24px;
  width: 100% !important;
  margin: 10px 0; }
  .checkout-cart-index .action.primary.checkout:hover {
    background-color: #383838 !important; }

.checkout-cart-index .cart-container .action.update {
  font-family: 'Gotham Bold';
  border: 1px solid #000;
  border-radius: 0; }
  .checkout-cart-index .cart-container .action.update:hover {
    background: #000;
    color: #fff; }

.checkout-cart-index .cart-discount .discount {
  width: 100% !important; }

@media screen and (max-width: 1024px) {
  .checkout-cart-index .cart-container {
    display: flex;
    flex-flow: column; }
  .checkout-cart-index .form-cart {
    order: 1 !important;
    width: 100% !important; }
  .checkout-cart-index .cart-summary {
    position: unset !important;
    order: 2;
    width: 100% !important; }
  .checkout-cart-index .cart-discount {
    order: 3 !important;
    width: 100% !important; }
  .checkout-cart-index .action.update {
    margin: 0 !important; }
  .checkout-cart-index .coupon .field {
    width: 55%; } }

.checkout-index-index #checkout {
  padding: 50px 0; }

.checkout-index-index a {
  color: #bfa374; }

.checkout-index-index .opc-progress-bar {
  margin: 0 0 40px; }

.checkout-index-index .opc-progress-bar-item._active:before {
  background-color: #bfa374 !important;
  border-color: #bfa374 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::before {
  background: #bfa374 !important;
  border-color: #bfa374 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::after {
  border-color: #bfa374 !important; }

.checkout-index-index .opc-progress-bar-item._complete > span {
  color: #000 !important; }

.checkout-index-index .opc-progress-bar-item > span::after {
  font-size: 18px !important; }

.checkout-index-index .opc-progress-bar-item > span {
  font-size: 16px !important;
  padding-top: 50px; }

.checkout-index-index .opc-progress-bar-item._active > span {
  font-family: 'Gotham Bold'; }

.checkout-index-index #checkout-step-shipping form label {
  font-family: 'Gotham Bold'; }

.checkout-index-index .grand.totals {
  font-family: 'Gotham Bold'; }

.checkout-index-index .opc-block-shipping-information .shipping-information-title {
  font-family: 'Gotham Bold'; }

.checkout-index-index .form.methods-shipping input[type='radio'] {
  margin: 0 !important; }

.checkout-index-index .checkout-step-shipping_method .actions-toolbar {
  padding-top: 20px; }

.checkout-index-index .checkout-shipping-method .actions-toolbar .action.primary.button {
  cursor: pointer;
  text-align: center;
  margin: auto;
  color: #fff !important;
  display: flex !important;
  background-color: #000;
  border: none;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 24px;
  width: 100% !important; }
  .checkout-index-index .checkout-shipping-method .actions-toolbar .action.primary.button:hover {
    background-color: #383838; }

.checkout-index-index .checkout-payment-method .actions-toolbar .primary.checkout {
  cursor: pointer;
  text-align: center;
  margin: auto;
  color: #fff !important;
  display: flex !important;
  background-color: #000;
  border: none;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 24px;
  width: 100% !important; }
  .checkout-index-index .checkout-payment-method .actions-toolbar .primary.checkout:hover {
    background-color: #383838; }

.checkout-index-index .minicart-items .product > .product-image-container {
  width: 60px !important; }

.checkout-index-index .minicart-items .product-item-details {
  padding-left: 70px;
  font-size: 15px; }

.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
  padding-right: 50px; }

.checkout-index-index .opc-wrapper .shipping-address-item.selected-item {
  border-color: #bfa374 !important; }
  .checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {
    background: #bfa374 !important; }

.checkout-index-index .payment-option-content .form-discount {
  display: flex; }
  .checkout-index-index .payment-option-content .form-discount .payment-option-inner {
    margin: 0 !important;
    width: 74%; }
    .checkout-index-index .payment-option-content .form-discount .payment-option-inner input {
      height: 46px; }
  .checkout-index-index .payment-option-content .form-discount .actions-toolbar {
    margin-left: 0; }
    .checkout-index-index .payment-option-content .form-discount .actions-toolbar .primary {
      margin: 0 !important; }
      .checkout-index-index .payment-option-content .form-discount .actions-toolbar .primary .action-apply {
        cursor: pointer;
        text-align: center;
        margin: auto;
        height: auto;
        color: #fff !important;
        background-color: #000;
        border: none;
        letter-spacing: normal;
        line-height: 1;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        padding: 16px 24px;
        border-radius: 0;
        width: 100% !important; }
        .checkout-index-index .payment-option-content .form-discount .actions-toolbar .primary .action-apply:hover {
          background-color: #383838;
          border: none !important; }

.checkout-index-index .form-giftcard-account .actions-toolbar .action-add,
.checkout-index-index .form-giftcard-account .actions-toolbar .action-check {
  cursor: pointer;
  text-align: center;
  margin: auto;
  color: #fff !important;
  background-color: #000;
  border: none;
  letter-spacing: normal;
  line-height: 1;
  text-transform: uppercase;
  height: auto;
  border-radius: 0;
  font-weight: bold;
  font-size: 14px;
  padding: 16px 24px;
  width: 100% !important; }
  .checkout-index-index .form-giftcard-account .actions-toolbar .action-add:hover,
  .checkout-index-index .form-giftcard-account .actions-toolbar .action-check:hover {
    background-color: #383838;
    border: none !important; }

@media screen and (max-width: 1024px) {
  .checkout-index-index .minicart-items .product > .product-image-container {
    width: 40px !important; }
  .checkout-index-index .minicart-items .product-item-details {
    padding-left: 45px; }
  .checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 5px; }
  .checkout-index-index .opc-block-summary .product-item .price {
    font-size: 14px !important; }
  .payment-option-content .form-discount {
    display: block !important; }
    .payment-option-content .form-discount .payment-option-inner {
      width: 100% !important; }
    .payment-option-content .form-discount .actions-toolbar {
      width: 100% !important;
      display: block !important; }
      .payment-option-content .form-discount .actions-toolbar .primary {
        width: 100% !important;
        float: none !important; } }

@media screen and (max-width: 767px) {
  .checkout-index-index .opc-estimated-wrapper .estimated-block {
    font-family: 'Gotham Bold'; }
  .checkout-index-index .checkout-payment-method .actions-toolbar .primary {
    float: none;
    margin-top: 20px; }
  .checkout-index-index .checkout-payment-method .payment-methods {
    margin: 0 !important; } }

.checkout-onepage-success .page-main {
  text-align: center;
  padding: 50px 0; }

.checkout-onepage-success .page-title {
  font-size: 40px !important;
  line-height: 48px !important;
  letter-spacing: normal; }
  @media screen and (min-width: 1025px) {
    .checkout-onepage-success .page-title {
      font-size: 52px !important;
      line-height: 60px !important; } }

.checkout-onepage-success .page-main > .page-title-wrapper .page-title + .action {
  display: none; }

.checkout-onepage-success .checkout-success {
  text-align: center !important; }
  .checkout-onepage-success .checkout-success > p {
    margin-bottom: 0;
    font-size: 16px; }
  .checkout-onepage-success .checkout-success p > a {
    font-size: 16px;
    color: #000 !important; }
    .checkout-onepage-success .checkout-success p > a:hover {
      color: #000 !important; }
  .checkout-onepage-success .checkout-success .actions-toolbar .primary {
    display: block !important;
    float: none !important;
    text-align: center; }
    .checkout-onepage-success .checkout-success .actions-toolbar .primary a {
      font-size: 16px;
      text-transform: none;
      text-decoration: underline;
      color: #000 !important;
      padding: 0 !important;
      background: transparent !important;
      margin: 0 !important;
      border: none !important;
      line-height: unset !important; }
      .checkout-onepage-success .checkout-success .actions-toolbar .primary a:hover {
        color: #bfa374 !important; }

@media screen and (max-width: 767px) {
  .checkout-onepage-success .page-title {
    font-size: 26px !important; } }
