<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_before">
        <observer instance="ForeverCompanies\CustomSales\Observer\Backend\Sales\OrderPlaceBefore"
                  name="forevercompanies_customsales_observer_backend_sales_order_place_before"/>
    </event>
    <event name="sales_convert_order_to_quote">
        <observer name="sales_person_convert"
                  instance="ForeverCompanies\CustomSales\Observer\SalesEventOrderToQuoteObserver"
                  shared="false" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="sales_person_submit_before"
                  instance="ForeverCompanies\CustomSales\Observer\SalesEventQuoteSubmitBeforeObserver"
                  shared="false" />
    </event>
    <event name="sales_order_place_after">
        <observer instance="ForeverCompanies\CustomSales\Observer\Backend\Sales\OrderPlaceAfter"
                  name="forevercompanies_customsales_observer_backend_sales_order_place_after"/>
    </event>
    <event name="sales_order_shipment_save_before">
        <observer name="customsales_before_save_order_shipment"
                  instance="ForeverCompanies\CustomSales\Observer\BeforeSaveOrderShipment"/>
    </event>
</config>
