<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="ForeverCompanies_StonesIntermediary::home"
             title="Diamond Importer"
             module="ForeverCompanies_StonesIntermediary"
             sortOrder="1000"
             parent="Magento_Backend::stores_settings"
             resource="ForeverCompanies_StonesIntermediary::stones_supplier"/>
        <add id="ForeverCompanies_StonesIntermediary::stones_supplier"
             title="Stones Supplier"
             module="ForeverCompanies_StonesIntermediary"
             sortOrder="100"
             parent="ForeverCompanies_StonesIntermediary::home"
             resource="ForeverCompanies_StonesIntermediary::stones_supplier"
             action="diamond/supplier/index"/>
    </menu>
</config>
