<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="DiamondNexus\Multipay\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DiamondNexus\Multipay\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ForeverCompaniesLog</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">DiamondNexus\Multipay\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\MethodList">
        <plugin name="methodlist" type="DiamondNexus\Multipay\Plugin\Model\Method\Available" sortOrder="1"/>
    </type>
    <preference for="Magento\Sales\Model\Order\Payment" type="DiamondNexus\Multipay\Model\Sales\Order\Payment"/>
</config>
