.account {
    .block-collapsible-nav .item a {
        text-decoration: none !important;
    }

    .column {
        display: flex;
        flex-flow: column;
        .account-additional-note {
            order: 5;
            padding-top: 35px;
        }
    }

    .page-main {
        @media screen and (max-width: 768px) {
            padding-top: 56px;
        }
    }
    form {
        .fieldset {
            legend {
                span {
                    font-family: 'Didot 06 A', 'Didot 06 B', serif;
                    font-size: 24px;
                    letter-spacing: 0.19px;
                    color: #000000;
                }
            }
        }
    }

    .column.main .block:not(.widget) .block-title {
        border-bottom: 1px solid #bcbcbc;
        margin-bottom: 16px;
    }

    .column.main .block:not(.widget) .box-title > span {
        font-size: 16px;
    }

    .block-dashboard-addresses {
        .action.edit {
            font-size: 16px;
            @media screen and (max-width: 768px) {
                display: block;
                margin: 0 !important;
                float: none !important;
            }
        }
    }

    .block-dashboard-info,
    .block-dashboard-addresses,
    .box-address-billing,
    .box-address-shipping {
        .block-content {
            address {
                font-size: 16px;
            }
        }
    }

    .box-address-billing .box-content,
    .box-address-shipping .box-content {
        font-size: 16px !important;
    }

    .block-wishlist {
        display: none;
    }

    .block-collapsible-nav {
        .item.current > strong,
        .item.current > a {
            border-color: #bfa374 !important;
        }
    }

    .block-title {
        font-size: 24px !important;
        strong {
            font-size: 24px !important;
        }
    }

    .sidebar-additional,
    .block-dashboard-orders,
    .nav.items .nav.item:nth-of-type(3),
    .nav.items .nav.item:nth-of-type(7),
    .nav.items .nav.item:nth-of-type(9),
    .nav.items .nav.item:nth-of-type(11),
    .nav.items .nav.item:nth-of-type(12),
    .nav.items .nav.item:nth-of-type(14) {
        display: none !important;
    }
    .box-actions a {
        text-transform: uppercase !important;
        font-size: 12px !important;
        font-weight: bold !important;
    }

    .order-details-items .product-item-name {
        font-size: 16px;
    }
    .price .price-excluding-tax,
    .subtotal .price-excluding-tax {
        font-size: 18px !important;
        color: #000 !important;
    }

    .order-date {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 1024px) {
    .account {
        .table-wrapper {
            font-size: 13px;
        }
        .pages-items .item:not(.pages-item-next) {
            padding: 0 2px;
            margin: 0;
        }
        .pages-items .item:not(.pages-item-next) .page {
            padding: 13px 10px 7px;
        }
        .pages-items .action.next,
        .pages-items .action.previous {
            width: 30px;
            height: 30px;
            margin: 0;
            &:before {
                font-size: 12px;
            }
        }
        p.toolbar-amount {
            font-size: 14px;
        }
        .limiter {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    .block-collapsible-nav-title {
        strong {
            font-size: 14px !important;
        }
    }
    .nav {
        .item {
            a,
            strong {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 639px) {
    .order-status {
        margin: 0 !important;
    }
}
