.account {
    .block-collapsible-nav .item a {
        text-decoration: none !important;
    }

    .page-main {
        @media screen and (max-width: 768px) {
            padding-top: 56px;
        }
    }
    form {
        .fieldset {
            legend {
                span {
                    font-family: 'Didot 06 A', 'Didot 06 B', serif;
                    font-size: 24px;
                    letter-spacing: 0.19px;
                    color: #000000;
                }
            }
        }
    }

    .column.main .block:not(.widget) .block-title {
        border-bottom: 1px solid #bcbcbc;
        margin-bottom: 16px;
    }

    .column.main .block:not(.widget) .box-title > span {
        font-size: 16px;
    }

    .block-dashboard-addresses {
        .action.edit {
            font-size: 16px;
            @media screen and (max-width: 768px) {
                display: block;
                margin: 0 !important;
                float: none !important;
            }
        }
    }

    .block-dashboard-info,
    .block-dashboard-addresses,
    .box-address-billing,
    .box-address-shipping {
        .block-content {
            address {
                font-size: 16px;
            }
        }
    }

    .box-address-billing .box-content,
    .box-address-shipping .box-content {
        font-size: 16px !important;
    }

    .block-wishlist {
        display: none;
    }

    .block-collapsible-nav {
        .item.current > strong {
            border-color: #bfa374 !important;
        }
    }

    .block-title {
        font-size: 24px !important;
        strong {
            font-size: 24px !important;
        }
    }

    .sidebar-additional,
    .block-dashboard-orders,
    .nav.items .nav.item:nth-of-type(7),
    .nav.items .nav.item:nth-of-type(9),
    .nav.items .nav.item:nth-of-type(11),
    .nav.items .nav.item:nth-of-type(12),
    .nav.items .nav.item:nth-of-type(14) {
        display: none !important;
    }
    .box-actions a {
        text-transform: uppercase !important;
        font-size: 12px !important;
        font-weight: bold !important;
    }
}
