form {
    .fieldset {
        legend {
            span {
                font-family: "Didot";
                font-size:24px;
                letter-spacing: 0.19px;
                color: #000000;
            }
        }
    }
}