.checkout-cart-index {
    .cart {
        .item-info {
            .product-item-name {
                font-size: 22px;
            }
            .price-excluding-tax {
                font-size: 20px !important;
            }
        }
        .actions-toolbar {
            padding-bottom: 30px;
        }
    }
    .cart-gift-item {
        .gift-item-block {
            .title {
                color: #000 !important;
                font-size: 22px !important;
                &:after {
                    font-size: 16px !important;
                }
            }
        }
        .gift-options-title {
            font-size: 18px !important;
        }
        .field.choice {
            display: flex;
            label {
                margin: 3px 0 0 8px;
            }
        }
        button {
            margin: 0 5px !important;
        }
    }
    .cart-discount {
        .discount {
            .title {
                strong {
                    color: #000 !important;
                    font-size: 20px !important;
                    &:after {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
    .we-accept-cards {
        background-image: none;
    }
    .coupon {
        display: flex;
        .field {
            width: 85%;
            margin: 0;
            .control {
                height: 100%;
                input {
                    height: 100%;
                }
            }
        }
        .actions-toolbar {
            width: auto !important;
        }
    }
    .cart-discount {
        .discount {
            width: 100% !important;
        }
    }
    .order-summary {
        font-family: 'Didot 06 A', 'Didot 06 B', serif;
        font-size: 24px;
    }
    .cart-summary .block .title strong {
        font-size: 16px;
    }
    .grand.totals {
        th,
        td {
            font-size: 16px;
        }
    }
    .checkout {
        button {
            margin: 10px 0 !important;
        }
    }
}

@media screen and (max-width: 1024px) {
    .checkout-cart-index {
        .cart-container {
            display: flex;
            flex-flow: column;
        }
        .form-cart {
            order: 1 !important;
            width: 100% !important;
        }
        .cart-summary {
            position: unset !important;
            order: 2;
            width: 100% !important;
        }
        .cart-discount {
            order: 3 !important;
            width: 100% !important;
        }
        .action.update {
            margin: 0 !important;
        }
        .coupon {
            .field {
                width: 55%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .cart .action.clear,
    .cart .action.update {
        margin: 5px !important;
    }
    .cart.main.actions {
        margin: 10px;
    }
}

@media screen and (max-width: 639px) {
    .checkout-cart-index .cart-gift-item button {
        margin: 5px 0 !important;
    }
}
