.checkout-cart-index {
    .account-additional-note {
        display: none;
    }
    .cart {
        .item-info {
            .product-item-name {
                font-size: 18px;
            }
            .price-excluding-tax {
                font-size: 20px !important;
                color: #000 !important;
            }
        }
        .actions-toolbar {
            padding-bottom: 30px;
        }
    }
    .cart-gift-item {
        .gift-item-block {
            .title {
                color: #000 !important;
                font-size: 16px !important;
                &:after {
                    font-size: 12px !important;
                }
            }
        }
        .gift-options-title {
            font-size: 18px !important;
        }
        .field.choice {
            display: flex;
            label {
                margin: 3px 0 0 8px;
            }
        }
        button {
            margin: 0 5px !important;
        }
    }
    .cart-discount {
        .discount {
            .title {
                strong {
                    color: #000 !important;
                    font-size: 16px !important;
                    &:after {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
    .we-accept-cards {
        background-image: url('https://res.cloudinary.com/foco/images/v1631046302/credit-card-icons/credit-card-icons.png');
        background-repeat: no-repeat;
        width: 450px;
        height: 50px;
        position: relative;
        left: -10px;
        top: 10px;
        img {
            display: none;
        }
    }
    .coupon {
        display: flex;
        .field {
            width: 85%;
            margin: 0;
            .control {
                height: 100%;
                input {
                    height: 100%;
                }
            }
        }
        .actions-toolbar {
            width: auto !important;
        }
    }
    .cart-discount {
        .discount {
            width: 100% !important;
        }
    }
    .order-summary {
        font-family: 'Didot 06 A', 'Didot 06 B', serif;
        font-size: 24px;
    }
    #block-shipping {
        display: none;
    }
    .grand.totals {
        th,
        td {
            font-size: 16px;
        }
    }
    .checkout {
        button {
            margin: 10px 0 !important;
        }
    }
    #affirmfinance {
        font-size: 14px;
        a {
            display: block;
            font-size: 14px !important;
        }
    }
    .action.continue,
    .action.multicheckout {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .form-cart button {
        background: transparent !important;
        color: #000 !important;
        border: 2px solid #000 !important;
        font-size: 12px !important;
        min-width: 180px !important;
        padding: 12px 15px !important;
        &:hover {
            background: #000 !important;
            color: #fff !important;
        }
    }
    .price.strikethrough {
        text-decoration: line-through;
    }
    .cart-price + .price-excluding-tax .cart-price {
        color: Red;
    }
    .cart-price span {
        font-size: 14px;
        font-weight: normal !important;
    }
    .item-options {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    .checkout-cart-index {
        .cart-container {
            display: flex;
            flex-flow: column;
        }
        .form-cart {
            order: 1 !important;
            width: 100% !important;
        }
        .cart-summary {
            position: unset !important;
            order: 2;
            width: 100% !important;
        }
        .cart-discount {
            order: 3 !important;
            width: 100% !important;
        }
        .action.update {
            margin: 0 !important;
        }
        .coupon {
            .field {
                width: 55%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .cart .action.clear,
    .cart .action.update {
        margin: 5px !important;
    }
    .cart.main.actions {
        margin: 10px;
    }
    .action-continue.we-accept {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 639px) {
    .checkout-cart-index .cart-gift-item button {
        margin: 5px 0 !important;
    }
    .checkout-cart-index .we-accept-cards {
        max-width: 300px;
        background-size: contain;
    }
}
