.checkout-index-index {
    .title,
    .step-title {
        font-family: 'Didot 06 A', 'Didot 06 B', serif;
    }
    select {
        border: 1px solid #c2c2c2;
    }
    #checkout {
        padding: 50px 0;
    }
    .opc-progress-bar {
        margin: 0 0 40px;
    }
    .opc-progress-bar-item._active:before {
        background-color: #bfa374 !important;
        border-color: #bfa374 !important;
    }
    .opc-progress-bar-item._active > span::before {
        background: #bfa374 !important;
        border-color: #bfa374 !important;
    }
    .opc-progress-bar-item._active > span::after {
        border-color: #bfa374 !important;
    }
    .opc-progress-bar-item._complete > span {
        color: #000 !important;
    }
    .opc-progress-bar-item > span::after {
        font-size: 18px !important;
    }
    .opc-progress-bar-item > span {
        font-size: 16px !important;
        padding-top: 50px;
    }
    .opc-progress-bar-item._active > span {
        font-family: var(--sans-serif);
    }
    #checkout-step-shipping form label {
        font-family: var(--sans-serif);
    }
    .grand.totals {
        font-family: var(--sans-serif);
    }
    .opc-block-shipping-information .shipping-information-title {
        font-family: var(--sans-serif);
    }
    .form.methods-shipping input[type='radio'] {
        margin: 0 !important;
        width: 18px !important;
        height: 18px !important;
    }
    .checkout-step-shipping_method .actions-toolbar {
        padding-top: 20px;
    }
    .minicart-items .product > .product-image-container {
        width: 60px !important;
    }
    .minicart-items .product-item-details {
        padding-left: 70px;
        font-size: 15px;
    }
    .opc-block-summary .product-item .product-item-name-block {
        padding-right: 50px;
    }
    .opc-wrapper .shipping-address-item.selected-item {
        border-color: #bfa374 !important;
        &:after {
            background: #bfa374 !important;
        }
    }
    .payment-option-content {
        .form-discount {
            display: flex;
            .payment-option-inner {
                margin: 0 !important;
                width: 74%;
                input {
                    height: 46px;
                }
            }
            .actions-toolbar {
                margin-left: 0;
            }
        }
    }
    .field.choice {
        display: flex;
    }
    input[type='radio'] {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border: 1px solid #000;
    }
    input[type='radio']:not([disabled]):checked {
        background-color: #000 !important;
    }
    input[type='checkbox'] {
        height: 22px;
        width: 23px;
        margin-right: 10px;
    }
    .braintree-credit-card-selected {
        width: 32px;
    }
    .payment-method-braintree .cvv .field-tooltip {
        top: 0 !important;
    }
    .checkout-payment-method .payment-option-title .action-toggle {
        color: #000;
    }
    .opc-block-summary .table-totals .grand .amount,
    .opc-block-summary .table-totals .grand .mark {
        font-size: 16px;
    }
    .opc-block-shipping-information .shipping-information-title {
        font-size: 22px;
    }
    .shipping-information button {
        background: transparent !important;
        padding: 0 !important;
        min-width: auto !important;
    }
}

@media screen and (max-width: 1024px) {
    .checkout-index-index {
        .minicart-items .product > .product-image-container {
            width: 40px !important;
        }
        .minicart-items .product-item-details {
            padding-left: 45px;
        }
        .opc-block-summary .product-item .product-item-name-block {
            padding-right: 5px;
        }
        .opc-block-summary .product-item .price {
            font-size: 14px !important;
        }
    }
    .payment-option-content .form-discount {
        display: block !important;
        .payment-option-inner {
            width: 100% !important;
        }
        .actions-toolbar {
            width: 100% !important;
            display: block !important;
            .primary {
                width: 100% !important;
                float: none !important;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .checkout-index-index {
        .opc-estimated-wrapper .estimated-block {
            font-family: var(--sans-serif);
        }
        .checkout-payment-method .actions-toolbar .primary {
            float: none;
            margin-top: 20px;
        }
        .checkout-payment-method .payment-methods {
            margin: 0 !important;
        }
    }
}
@media screen and (max-width: 639px) {
    .opc-wrapper .step-title {
        font-size: 32px !important;
    }
}
