.customer-account-create {
    .legend {
        span {
            font-size: 24px !important;
        }
    }
    .fieldset {
        &:after {
            font-size: 12px !important;
        }
        .choice {
            display: flex;
            align-items: center;
            label {
                margin: 8px 0 0 8px !important;
            }
        }
    }
    .form.create {
        display: flex;
        flex-flow: wrap;
        width: 100% !important;
        .fieldset.create.info,
        .fieldset.create.account {
            width: 100%;
            padding: none;
            @media screen and (min-width: 768px) {
                width: 50%;
                padding-right: 50px;
            }
        }
        .actions-toolbar {
            width: 100%;
            padding-top: 20px;
        }
    }
}
