.customer-account-login {
    .field.note,
    p {
        font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
        font-size: 16px;
    }
    .actions-toolbar {
        width: auto !important;
        background: transparent !important;
        .primary {
            margin-right: 10px;
            .create {
                cursor: pointer !important;
                font-family: var(--sans-serif) !important;
                display: inline-block !important;
                text-align: center !important;
                margin: auto !important;
                letter-spacing: normal !important;
                line-height: 1 !important;
                text-transform: uppercase !important;
                font-weight: bold !important;
                font-size: 14px !important;
                min-width: 191px !important;
                padding: 16px 24px !important;
                width: 100% !important;
                background-color: var(--color-black) !important;
                border-color: var(--color-black) !important;
                color: var(--color-white) !important;
                border-radius: 0 !important;
                @media screen and (min-width: 640px) {
                    width: auto !important;
                }
                &:hover {
                    background-color: var(--color-gunmetal) !important;
                }
            }
        }
        .secondary {
            .remind {
                padding-top: 6px;
            }
        }
    }
    .fieldset {
        &:after {
            font-size: 12px !important;
        }
    }
}
