<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ShipperHQ\Shipper\Model\Carrier\Processor\ShipperMapper">
        <plugin name="shipperhq-carrier-shippermapper" type="ForeverCompanies\DynamicBundle\Plugins\Shipperhq\ShipperMapper" />
    </type>
	<!--
    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="list_all_dispatched_event" type="ForeverCompanies\DynamicBundle\Plugins\ListDispatchedEvents" sortOrder="10" disabled="false"/>
    </type>
	-->
	<!--<preference for="ShipperHQ\Shipper\Model\Carrier\Processor\ShipperMapper" type="ForeverCompanies\DynamicBundle\Model\Shipperhq\ShipperMapper" />-->
	<preference for="Magento\Quote\Model\Quote\Item" type="ForeverCompanies\DynamicBundle\Model\Quote\Item" />
</config>
