<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="flag_fishbowl_import" xsi:type="string">sales_order.flag_fishbowl_import</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Items\Renderer\DefaultRenderer">
        <plugin name="forevercompanies_customapi_plugin_adminhtml_order_items_getcolumns"
                type="ForeverCompanies\CustomApi\Plugin\Adminhtml\DefaultRendererPlugin" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\AddressRepository">
        <plugin name="forevercompanies_customapi_plugin_address_repository"
                type="ForeverCompanies\CustomApi\Plugin\AddressRepository" sortOrder="30"/>
    </type>
    <type name="\Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="forevercompanies_customapi_plugin_quote"
                type="ForeverCompanies\CustomApi\Plugin\Quote" sortOrder="30"/>
    </type>
    <preference for="ForeverCompanies\CustomApi\Api\ExtSalesOrderUpdateManagementInterface"
                type="ForeverCompanies\CustomApi\Model\ExtSalesOrderUpdateManagement"/>
    <type name="Magento\Sales\Block\Adminhtml\Order\View">
        <plugin name="ForeverCompanies_CustomApi_Plugin_Adminhtml_Order_View" sortOrder="10"
                type="ForeverCompanies\CustomApi\Plugin\Adminhtml\Order\View"/>
    </type>
	<!--  
    <type name="Magento\Catalog\Ui\DataProvider\Product\Modifier\Attributes">
        <plugin name="ForeverCompanies_CustomApi_Plugin_Ui_DataProvider_Product_Modifier_Attributes" sortOrder="10"
                type="ForeverCompanies\CustomApi\Plugin\Ui\DataProvider\Product\Modifier\Attributes"/>
    </type>
    -->
    <type name="Magento\CatalogGraphQl\Model\Resolver\Products\DataProvider\ProductSearch">
        <plugin name="ForeverCompanies_CustomApi_Plugin_Model_Resolver_Products_DataProvider_ProductSearch" sortOrder="10"
                type="ForeverCompanies\CustomApi\Plugin\Model\Resolver\Products\DataProvider\ProductSearch"/>
    </type>
    <preference for="ForeverCompanies\CustomApi\Api\Data\ExtSearchResultsInterface"
                type="ForeverCompanies\CustomApi\Model\ExtSearchResults" />
    <preference for="ForeverCompanies\CustomApi\Api\Data\CustomOptionInterface"
                type="ForeverCompanies\CustomApi\Model\CustomOption" />
    <preference for="ForeverCompanies\CustomApi\Api\ReindexInterface"
                type="ForeverCompanies\CustomApi\Model\Reindex"/>
    <preference for="ShipperHQ\Shipper\Ui\Component\Listing\Column\DeliveryDate"
                type="ForeverCompanies\CustomApi\Ui\Component\Listing\Column\DeliveryDate"/>
    <preference for="ShipperHQ\Shipper\Ui\Component\Listing\Column\DispatchDate"
                type="ForeverCompanies\CustomApi\Ui\Component\Listing\Column\DispatchDate"/>
</config>
