<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Framework\Model\ActionValidator\RemoveAction" 
		type="Magento\Framework\Model\ActionValidator\RemoveAction\Allowed" />
	<type name="Magento\Framework\Console\CommandListInterface">
		<arguments>
            <argument name="commands" xsi:type="array">
                <item name="run_stone_import" xsi:type="object">ForeverCompanies\LooseStoneImport\Console\Command\ManualImport</item>
            </argument>
        </arguments>
	</type>
	<type name="Magento\Framework\Console\CommandListInterface">
		<arguments>
            <argument name="commands" xsi:type="array">
                <item name="fix_stone_sorting" xsi:type="object">ForeverCompanies\LooseStoneImport\Console\Command\FixSorting</item>
            </argument>
        </arguments>
	</type>
</config>