<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="TransformAttributes" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\TransformAttributes
                </item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="TransformMedia" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\TransformMedia
                </item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="TransformMedia" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\DeleteOIdAttributes
                </item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="TransformOptions" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\TransformOptions
                </item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="TransformMultiselect" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\TransformMultiselect
                </item>
            </argument>
            <argument name="commands" xsi:type="array">
                <item name="UpdateStocks" xsi:type="object">
                    ForeverCompanies\CustomAttributes\Console\Command\UpdateStocks
                </item>
            </argument>
        </arguments>
    </type>
    <type name="ForeverCompanies\CustomAttributes\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="ForeverCompanies\CustomAttributes\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ForeverCompaniesLog</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">ForeverCompanies\CustomAttributes\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Cloudinary\Cloudinary\Model\Observer\ProductGalleryChangeTemplate"
                type="ForeverCompanies\CustomAttributes\Model\Observer\ProductGalleryChangeTemplate"/>
    <type name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions">
        <plugin name="forevercompanies_customattributes_custom_option"
                type="ForeverCompanies\CustomAttributes\Plugin\Catalog\Ui\DataProvider\Product\Form\Modifier\CustomOptions"
                sortOrder="1"/>
    </type>
    <type name="Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundlePanel">
        <plugin name="forevercompanies_customattributes_bundlecustom_option"
                type="ForeverCompanies\CustomAttributes\Plugin\Bundle\Ui\DataProvider\Product\Form\Modifier\BundlePanel"
                sortOrder="1"/>
    </type>
    <preference for="Magento\Bundle\Model\Product\OptionList"
                type="ForeverCompanies\CustomAttributes\Model\Bundle\Product\OptionList"/>
    <preference for="Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\Composite"
                type="ForeverCompanies\CustomAttributes\Ui\DataProvider\Product\Form\Modifier\Composite"/>
</config>
