<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_delete_by_csv">
        <observer name="update_latest_nasm_table" instance="ForeverCompanies\CustomAttributes\Observer\Update"/>
    </event>
</config>
