@charset "UTF-8";
h1,
h2 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-regular) !important;
  font-size: 32px !important;
  line-height: 40px !important; }
  @media screen and (min-width: 1025px) {
    h1,
    h2 {
      font-size: 48px !important;
      line-height: 56px !important; } }

h3 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-regular) !important;
  font-size: 24px !important;
  line-height: 32px !important; }
  @media screen and (min-width: 1025px) {
    h3 {
      font-size: 40px !important;
      line-height: 48px !important; } }

h4 {
  font-weight: var(--weight-regular) !important;
  font-size: 20px !important;
  line-height: 28px !important; }
  @media screen and (min-width: 1025px) {
    h4 {
      font-size: 32px !important;
      line-height: 40px !important; } }

h5 {
  font-family: var(--sans-serif);
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: var(--weight-regular) !important; }
  @media screen and (min-width: 1025px) {
    h5 {
      font-size: 24px !important;
      line-height: 32px !important; } }

h6 {
  font-family: var(--sans-serif) !important;
  font-size: 18px !important;
  line-height: 26px !important;
  font-weight: var(--weight-bold) !important; }

button {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-salmon) !important;
  border: 2px solid var(--color-salmon) !important;
  letter-spacing: 0.1em !important;
  line-height: 1 !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 32px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  border-radius: 6px !important;
  text-decoration: none !important;
  border: none !important; }
  @media screen and (min-width: 640px) {
    button {
      width: auto !important; } }
  button:hover {
    background-color: var(--color-salmondark) !important;
    border-color: var(--color-salmondark) !important;
    text-decoration: none !important; }

a {
  color: #000 !important;
  text-decoration: underline !important; }
  a:hover {
    text-decoration: none !important; }

.page-title-wrapper {
  padding-bottom: 40px; }

.field.choice input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1px solid #000; }
  .field.choice input[type='checkbox']:checked:before {
    content: '✔';
    position: absolute;
    left: 2px; }

@media screen and (max-width: 768px) {
  .page-header {
    margin-bottom: 33px; } }

.navigation ul {
  margin-left: 0; }
  .navigation ul li {
    font-weight: normal; }

header .panel,
.block-search,
.minicart-wrapper,
.nav-toggle {
  display: none; }

.page-header .logo {
  left: 50%;
  transform: translate(-50%);
  margin: 10px 0; }
  .page-header .logo svg {
    width: 152px; }

footer {
  display: none; }

.copyright {
  background: transparent;
  color: #000; }

.customer-account-login .actions-toolbar .primary .action.create {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-salmon) !important;
  border: 2px solid var(--color-salmon) !important;
  letter-spacing: 0.1em !important;
  line-height: 1 !important;
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 32px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  border-radius: 6px !important;
  text-decoration: none !important; }
  @media screen and (min-width: 640px) {
    .customer-account-login .actions-toolbar .primary .action.create {
      width: auto !important; } }
  .customer-account-login .actions-toolbar .primary .action.create:hover {
    background-color: var(--color-salmondark) !important;
    border-color: var(--color-salmondark) !important;
    text-decoration: none !important; }

.customer-account-login .actions-toolbar .secondary {
  margin: 8px 0 0 10px !important; }

.customer-account-login .login-container .fieldset:after {
  font-size: 12px !important; }

.customer-account-login .login-container .block .block-title {
  font-size: 22px !important; }

.account .nav a {
  text-decoration: none !important;
  color: #000 !important; }
  .account .nav a:hover {
    color: #e0afa0 !important; }

.account .block-collapsible-nav .item.current > strong {
  border-color: #e0afa0 !important; }

.account .column {
  display: flex;
  flex-flow: column; }
  .account .column .account-additional-note {
    order: 5; }
    .account .column .account-additional-note ul {
      margin-left: 0; }

.account .box-newsletter,
.account .sidebar-additional,
.account .block-dashboard-orders {
  display: none; }

.account .box-title span {
  font-size: 18px !important; }

.account .box-billing-address .box-content,
.account .box-shipping-address .box-content {
  font-size: 16px; }

.account .box-address-billing .box-content,
.account .box-address-shipping .box-content {
  font-size: 16px !important; }

.account .block-title {
  font-size: 24px !important; }
  .account .block-title strong {
    font-size: 24px !important; }

.account .column.main .block:not(.widget) .box-title > span {
  font-size: 16px; }

.account .sidebar-additional,
.account .block-dashboard-orders,
.account .nav.items .nav.item:nth-of-type(7),
.account .nav.items .nav.item:nth-of-type(9),
.account .nav.items .nav.item:nth-of-type(11),
.account .nav.items .nav.item:nth-of-type(12),
.account .nav.items .nav.item:nth-of-type(14) {
  display: none !important; }

body:not(.customer-account-index) .account-additional-note {
  display: none; }

.customer-account-create .fieldset.create.account:after {
  font-weight: normal;
  font-size: 14px;
  color: #da1e28; }

.customer-account-create .fieldset .legend {
  border-bottom: 1px solid #bcbcbc; }

.customer-account-create .fieldset.create.account:after {
  font-size: 14px; }

.customer-account-create .legend span {
  font-size: 24px !important; }

.customer-account-create .form.create {
  display: flex;
  flex-flow: wrap;
  width: 100% !important; }
  .customer-account-create .form.create .fieldset.create.info,
  .customer-account-create .form.create .fieldset.create.account {
    width: 100%;
    padding: none; }
    @media screen and (min-width: 768px) {
      .customer-account-create .form.create .fieldset.create.info,
      .customer-account-create .form.create .fieldset.create.account {
        width: 50%;
        padding-right: 50px; } }
  .customer-account-create .form.create .actions-toolbar {
    width: 100%;
    padding-top: 20px; }

.checkout-cart-index .product-item-name {
  font-size: 22px !important; }

.checkout-cart-index .price-excluding-tax {
  font-size: 20px !important; }

.checkout-cart-index .actions-toolbar {
  padding-bottom: 30px; }

.checkout-cart-index .we-accept-cards {
  background-image: none; }

.checkout-cart-index .coupon {
  display: flex; }
  .checkout-cart-index .coupon .field {
    width: 75%;
    margin: 0; }
    .checkout-cart-index .coupon .field .control {
      height: 100%; }
      .checkout-cart-index .coupon .field .control input {
        height: 46px; }

.checkout-cart-index .cart-gift-item .gift-item-block .title {
  color: #000 !important;
  font-size: 22px !important; }
  .checkout-cart-index .cart-gift-item .gift-item-block .title:after {
    font-size: 16px !important; }

.checkout-cart-index .cart-gift-item .gift-options-title {
  font-size: 18px !important; }

.checkout-cart-index .cart-gift-item .field.choice {
  display: flex; }
  .checkout-cart-index .cart-gift-item .field.choice label {
    margin: 3px 0 0 8px; }

.checkout-cart-index .cart-gift-item button {
  margin: 0 5px !important; }

.checkout-cart-index .cart-discount .block.discount {
  width: 100%; }
  .checkout-cart-index .cart-discount .block.discount .title strong {
    color: #000 !important;
    font-size: 20px !important; }
    .checkout-cart-index .cart-discount .block.discount .title strong:after {
      font-size: 16px !important; }

.checkout-cart-index .cart-summary .checkout-methods-items .action.primary.checkout {
  margin: 10px 0; }

.checkout-cart-index .cart-summary .block .title strong {
  font-size: 16px; }

.checkout-cart-index .grand.totals th,
.checkout-cart-index .grand.totals td {
  font-size: 16px; }

.checkout-cart-index .checkout button {
  margin: 10px 0 !important; }

.checkout-cart-index #block-shipping {
  display: none; }

.checkout-cart-index .product-item-name {
  font-size: 18px; }

.checkout-cart-index .price-excluding-tax {
  font-size: 20px !important;
  color: #000 !important; }

.checkout-cart-index #affirmfinance {
  font-size: 14px; }
  .checkout-cart-index #affirmfinance a {
    display: block; }

.checkout-cart-index .action.continue,
.checkout-cart-index .action.multicheckout {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }

.checkout-cart-index .we-accept-cards {
  background-image: none; }
  .checkout-cart-index .we-accept-cards img {
    margin-left: -10px; }

.checkout-cart-index .cart-summary > .title {
  font-size: 22px !important;
  font-weight: bold; }

@media screen and (max-width: 1024px) {
  .checkout-cart-index .cart-container {
    display: flex;
    flex-flow: column; }
  .checkout-cart-index .form-cart {
    order: 1 !important;
    width: 100% !important; }
  .checkout-cart-index .cart-summary {
    position: unset !important;
    order: 2;
    width: 100% !important; }
  .checkout-cart-index .cart-discount {
    order: 3 !important;
    width: 100% !important; }
  .checkout-cart-index .action.update {
    margin: 0 !important; }
  .checkout-cart-index .coupon .field {
    width: 55%; }
  .checkout-cart-index .we-accept {
    padding: 20px; } }

@media screen and (max-width: 767px) {
  .cart .action.clear,
  .cart .action.update {
    margin: 5px !important; }
  .cart.main.actions {
    margin: 10px; } }

@media screen and (max-width: 639px) {
  .checkout-cart-index .cart-gift-item button {
    margin: 5px 0 !important; } }

.checkout-index-index .step-title {
  font-size: 24px; }
  @media screen and (min-width: 768px) {
    .checkout-index-index .step-title {
      font-size: 32px; } }

.checkout-index-index .opc-block-summary > .title {
  font-size: 24px; }

.checkout-index-index .items-in-cart .title span {
  font-size: 16px !important; }

.checkout-index-index #checkout {
  padding: 50px 0; }

.checkout-index-index select {
  border: 1px solid #c2c2c2; }

.checkout-index-index .opc-progress-bar {
  margin: 0 0 40px; }

.checkout-index-index .opc-progress-bar-item._active:before {
  background-color: #e0afa0 !important;
  border-color: #e0afa0 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::before {
  background: #e0afa0 !important;
  border-color: #e0afa0 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::after {
  border-color: #e0afa0 !important; }

.checkout-index-index .opc-progress-bar-item._complete > span {
  color: #000 !important; }

.checkout-index-index .opc-progress-bar-item > span::after {
  font-size: 18px !important; }

.checkout-index-index .opc-progress-bar-item > span {
  font-size: 16px !important;
  padding-top: 50px; }

.checkout-index-index .form.methods-shipping input[type='radio'] {
  margin: 0 !important; }

.checkout-index-index .checkout-step-shipping_method .actions-toolbar {
  padding-top: 20px; }

.checkout-index-index .minicart-items .product > .product-image-container {
  width: 60px !important; }

.checkout-index-index .minicart-items .product-item-details {
  padding-left: 70px;
  font-size: 15px; }

.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
  padding-right: 50px; }

.checkout-index-index .opc-wrapper .shipping-address-item.selected-item {
  border-color: #e0afa0 !important; }
  .checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {
    background: #e0afa0 !important; }

.checkout-index-index .payment-option-title .action-toggle {
  color: #000; }

.checkout-index-index .payment-option-content .form-discount {
  display: flex; }
  .checkout-index-index .payment-option-content .form-discount .payment-option-inner {
    margin: 0 !important;
    width: 60%; }
    .checkout-index-index .payment-option-content .form-discount .payment-option-inner input {
      height: 46px; }

.checkout-index-index .field.choice {
  display: flex; }

.checkout-index-index input[type='radio'] {
  width: 18px !important;
  height: 18px !important;
  margin-right: 5px !important;
  border: 1px solid #000 !important; }

.checkout-index-index input[type='radio']:not([disabled]):checked {
  background-color: #000 !important; }

.checkout-index-index input[type='checkbox'] {
  height: 22px;
  width: 23px;
  margin-right: 10px; }

.checkout-index-index .braintree-credit-card-selected {
  width: 32px; }

.checkout-index-index .payment-method-braintree .cvv .field-tooltip {
  top: 0 !important; }

.checkout-index-index .checkout-payment-method .payment-option-title .action-toggle {
  color: #000; }

.checkout-index-index .opc-block-summary .table-totals .grand .amount,
.checkout-index-index .opc-block-summary .table-totals .grand .mark {
  font-size: 16px; }

.checkout-index-index .opc-block-shipping-information .shipping-information-title {
  font-size: 22px; }

.checkout-index-index .shipping-information button {
  background: transparent !important;
  padding: 0 !important;
  min-width: auto !important; }

@media screen and (max-width: 1024px) {
  .checkout-index-index .minicart-items .product > .product-image-container {
    width: 40px !important; }
  .checkout-index-index .minicart-items .product-item-details {
    padding-left: 45px; }
  .checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 5px; }
  .checkout-index-index .opc-block-summary .product-item .price {
    font-size: 14px !important; } }

@media screen and (max-width: 767px) {
  .checkout-index-index .checkout-payment-method .actions-toolbar .primary {
    float: none; }
  .checkout-index-index .checkout-payment-method .payment-methods {
    margin: 0 !important; }
  .checkout-index-index .payment-option-content .form-discount .payment-option-inner {
    width: 55% !important; } }

@media screen and (max-width: 639px) {
  .opc-wrapper .step-title {
    font-size: 32px !important; } }

.checkout-onepage-success .page-main {
  text-align: center;
  padding: 50px 0; }

.checkout-onepage-success .page-title {
  text-align: center !important;
  letter-spacing: 3px !important;
  font-size: 42px !important;
  margin-bottom: 10px !important;
  font-family: 'proxima-nova', 'Helvetica Neue', Verdana, Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase; }
  .checkout-onepage-success .page-title .base {
    white-space: pre-line;
    text-align: center !important; }

.checkout-onepage-success .page-main > .page-title-wrapper .page-title + .action {
  display: none; }

.checkout-onepage-success .checkout-success {
  text-align: center !important; }
  .checkout-onepage-success .checkout-success > p {
    margin-bottom: 0;
    font-size: 16px; }
  .checkout-onepage-success .checkout-success p > a {
    font-size: 16px;
    color: #e0afa0;
    text-decoration: underline; }
    .checkout-onepage-success .checkout-success p > a:hover {
      color: #e0afa0;
      text-decoration: none; }
  .checkout-onepage-success .checkout-success .actions-toolbar .primary {
    display: block !important;
    float: none !important;
    text-align: center; }
    .checkout-onepage-success .checkout-success .actions-toolbar .primary a {
      color: #e0afa0;
      text-decoration: underline;
      font-size: 16px;
      text-transform: none;
      padding: 0 !important;
      background: transparent !important;
      margin: 0 !important;
      border: none !important;
      line-height: unset !important; }
      .checkout-onepage-success .checkout-success .actions-toolbar .primary a:hover {
        color: #e0afa0;
        text-decoration: none; }

@media screen and (max-width: 767px) {
  .checkout-onepage-success .page-title {
    font-size: 26px !important; } }
