<?xml version="1.0"?>
	<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

	<!--  
    <event name="sales_quote_collect_totals_before">
        <observer name="forevercompanies_sales_quote_collect_totals_after"
        	instance="ForeverCompanies\Gifts\Observer\ProcessQuoteObserver" />
    </event>
    -->

    <event name="free_gift_add_logic">
        <observer name="forever__gift_add_logic"
        	instance="ForeverCompanies\Gifts\Observer\ProcessQuoteObserver" />
    </event>
    
    <event name="free_gift_update_logic">
        <observer name="forever_gift_update_logic"
			instance="ForeverCompanies\Gifts\Observer\ProcessQuoteObserver" />
    </event>
    
</config>

