.account {
    .nav a {
        text-decoration: none !important;
        color: #000 !important;
        &:hover {
            color: #e0afa0 !important;
        }
    }
    .block-collapsible-nav .item.current > strong {
        border-color: #e0afa0 !important;
    }
    .column {
        display: flex;
        flex-flow: column;
        .account-additional-note {
            order: 5;
            ul {
                margin-left: 0;
            }
        }
    }
    .box-newsletter,
    .sidebar-additional,
    .block-dashboard-orders {
        display: none;
    }
    .box-title {
        span {
            font-size: 18px !important;
        }
    }
    .box-billing-address .box-content,
    .box-shipping-address .box-content {
        font-size: 16px;
    }

    .box-address-billing .box-content,
    .box-address-shipping .box-content {
        font-size: 16px !important;
    }

    .block-title {
        font-size: 24px !important;
        strong {
            font-size: 24px !important;
        }
    }

    .column.main .block:not(.widget) .box-title > span {
        font-size: 16px;
    }

    .sidebar-additional,
    .block-dashboard-orders,
    .nav.items .nav.item:nth-of-type(7),
    .nav.items .nav.item:nth-of-type(9),
    .nav.items .nav.item:nth-of-type(11),
    .nav.items .nav.item:nth-of-type(12),
    .nav.items .nav.item:nth-of-type(14) {
        display: none !important;
    }
}

body:not(.customer-account-index) .account-additional-note {
    display: none;
}
