.account {
    .nav a {
        text-decoration: none !important;
        color: #000 !important;
        &:hover {
            color: #e0afa0 !important;
        }
    }
    .block-collapsible-nav .item.current > strong {
        border-color: #e0afa0 !important;
    }
    .column {
        display: flex;
        flex-flow: column;
        .account-additional-note {
            order: 5;
            ul {
                margin-left: 0;
            }
        }
    }
    .box-newsletter,
    .sidebar-additional,
    .block-dashboard-orders {
        display: none;
    }
    .box-title {
        span {
            font-size: 18px !important;
        }
    }
    .box-billing-address .box-content,
    .box-shipping-address .box-content {
        font-size: 16px;
    }
}

body:not(.customer-account-index) .account-additional-note {
    display: none;
}
