.checkout-cart-index {
    .page-title {
        font-family: 'proxima-nova', 'Helvetica Neue', Verdana, Arial,
            sans-serif;
        font-weight: 900;
    }
    a,
    .action.clear span,
    .gift-item-block .title,
    .title strong,
    .affirm-modal-trigger {
        color: #000 !important;
        &:hover {
            color: #e0afa0 !important;
        }
    }
    .product-item-name {
        font-size: 22px !important;
    }
    .we-accept-cards {
        background-image: none;
    }

    #affirmfinance {
        a {
            text-transform: none;
            display: block;
            font-size: 14px;
        }
    }
    .action.continue {
        text-transform: none;
    }
    .coupon {
        display: flex;
        .field {
            width: 85%;
            margin: 0;
            .control {
                height: 100%;
                input {
                    height: 100%;
                }
            }
        }
        .action {
            text-transform: none;
            letter-spacing: 0;
            background: #000 !important;
            border-radius: 0 !important;
            color: #fff !important;
            border: none !important;
            font-size: 14px !important;
            padding: 15px;
            font-weight: normal;
            box-shadow: none !important;
            &:hover {
                background: #e0afa0 !important;
            }
        }
    }
    .action.primary.checkout,
    .actions-toolbar .secondary .action-update {
        text-transform: none;
        letter-spacing: 0;
        background: #000 !important;
        border-radius: 0 !important;
        color: #fff !important;
        border: none !important;
        font-size: 14px !important;
        padding: 15px;
        font-weight: normal;
        box-shadow: none !important;
        &:hover {
            background: #e0afa0 !important;
        }
    }
    .actions-toolbar .secondary .action-cancel {
        color: #000;
        margin-top: 15px !important;
        &:hover {
            color: #e0afa0;
        }
    }
    .cart-container {
        .action.update {
            border: 1px solid #000;
            border-radius: 0;
            background: transparent;
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
    .cart-discount {
        .block.discount {
            width: 100%;
        }
    }
    .cart-summary {
        .title {
            font-family: 'proxima-nova', 'Helvetica Neue', Verdana, Arial,
                sans-serif;
            font-weight: 900;
        }
        .checkout-methods-items {
            .action.primary.checkout {
                margin: 10px 0;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .checkout-cart-index {
        .cart-container {
            display: flex;
            flex-flow: column;
        }
        .form-cart {
            order: 1 !important;
            width: 100% !important;
        }
        .cart-summary {
            position: unset !important;
            order: 2;
            width: 100% !important;
        }
        .cart-discount {
            order: 3 !important;
            width: 100% !important;
        }
        .action.update {
            margin: 0 !important;
        }
        .coupon {
            .field {
                width: 55%;
            }
        }
        .we-accept {
            padding: 20px;
        }
    }
}
