.checkout-cart-index {
    .product-item-name {
        font-size: 22px !important;
    }
    .price-excluding-tax {
        font-size: 20px !important;
    }
    .actions-toolbar {
        padding-bottom: 30px;
    }
    .we-accept-cards {
        background-image: none;
    }
    .coupon {
        display: flex;
        .field {
            width: 75%;
            margin: 0;
            .control {
                height: 100%;
                input {
                    height: 46px;
                }
            }
        }
    }
    .cart-gift-item {
        .gift-item-block {
            .title {
                color: #000 !important;
                font-size: 22px !important;
                &:after {
                    font-size: 16px !important;
                }
            }
        }
        .gift-options-title {
            font-size: 18px !important;
        }
        .field.choice {
            display: flex;
            label {
                margin: 3px 0 0 8px;
            }
        }
        button {
            margin: 0 5px !important;
        }
    }
    .cart-discount {
        .block.discount {
            width: 100%;
            .title {
                strong {
                    color: #000 !important;
                    font-size: 20px !important;
                    &:after {
                        font-size: 16px !important;
                    }
                }
            }
        }
    }
    .cart-summary {
        .checkout-methods-items {
            .action.primary.checkout {
                margin: 10px 0;
            }
        }
    }
    .cart-summary .block .title strong {
        font-size: 16px;
    }
    .grand.totals {
        th,
        td {
            font-size: 16px;
        }
    }
    .checkout {
        button {
            margin: 10px 0 !important;
        }
    }
    #block-shipping {
        display: none;
    }

    .product-item-name {
        font-size: 18px;
    }
    .price-excluding-tax {
        font-size: 20px !important;
        color: #000 !important;
    }

    #affirmfinance {
        font-size: 14px;
        a {
            display: block;
        }
    }

    .action.continue,
    .action.multicheckout {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .we-accept-cards {
        background-image: none;
        img {
            margin-left: -10px;
        }
    }
    .cart-summary > .title {
        font-size: 22px !important;
        font-weight: bold;
    }
}

@media screen and (max-width: 1024px) {
    .checkout-cart-index {
        .cart-container {
            display: flex;
            flex-flow: column;
        }
        .form-cart {
            order: 1 !important;
            width: 100% !important;
        }
        .cart-summary {
            position: unset !important;
            order: 2;
            width: 100% !important;
        }
        .cart-discount {
            order: 3 !important;
            width: 100% !important;
        }
        .action.update {
            margin: 0 !important;
        }
        .coupon {
            .field {
                width: 55%;
            }
        }
        .we-accept {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 767px) {
    .cart .action.clear,
    .cart .action.update {
        margin: 5px !important;
    }
    .cart.main.actions {
        margin: 10px;
    }
}

@media screen and (max-width: 639px) {
    .checkout-cart-index .cart-gift-item button {
        margin: 5px 0 !important;
    }
}
