.customer-account-create {
    .fieldset {
        &.create.account:after {
            font-weight: normal;
            font-size: 14px;
            color: #da1e28;
        }
        .legend {
            border-bottom: 1px solid #bcbcbc;
        }
    }

    .fieldset.create.account:after {
        font-size: 14px;
    }
}
