<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="get_order_fishbowl_import" type="ForeverCompanies\CustomApi\Plugin\OrderFishbowlImport"/>
        <plugin name="get_order_item_loose_stone" type="ForeverCompanies\CustomApi\Plugin\OrderItemLooseStone"/>
        <plugin name="get_order_custom_options" type="ForeverCompanies\CustomApi\Plugin\OrderItemCustomOptions"/>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <plugin name="get_order_item_sku" type="ForeverCompanies\CustomApi\Plugin\OrderItemSku"/>
    </type>
    <type name="Magento\Sales\Api\ShipmentRepositoryInterface">
        <plugin name="get_order_shipment_fishbowl_import" type="ForeverCompanies\CustomApi\Plugin\ShipmentFishbowlImport"/>
    </type>
</config>
