.account {
    .nav a {
        color: #575757 !important;
        &:hover {
            color: #8e7171 !important;
        }
    }
    .block-collapsible-nav .item.current > strong {
        border-color: #8e7171 !important;
    }
    .column {
        display: flex;
        flex-flow: column;
        .account-additional-note {
            order: 5;
            padding-top: 35px;
        }
    }
    .box-newsletter {
        display: none;
    }
    .box-title {
        margin-bottom: 10px;
        display: block;
        span {
            font-size: 18px !important;
        }
    }
    .column.main .block:not(.widget) .block-title > strong {
        font-size: 22px !important;
        font-weight: bold;
    }
    .box-billing-address .box-content,
    .box-shipping-address .box-content {
        font-size: 16px !important;
    }
    .sidebar-additional {
        display: none;
    }
    .box-address-billing .box-content,
    .box-address-shipping .box-content {
        font-size: 16px !important;
    }

    .column.main .block:not(.widget) .box-title > span {
        font-size: 16px;
    }

    .sidebar-additional,
    .block-dashboard-orders,
    .nav.items .nav.item:nth-of-type(3),
    .nav.items .nav.item:nth-of-type(7),
    .nav.items .nav.item:nth-of-type(9),
    .nav.items .nav.item:nth-of-type(11),
    .nav.items .nav.item:nth-of-type(12),
    .nav.items .nav.item:nth-of-type(14) {
        display: none !important;
    }
}

body:not(.customer-account-index) .account-additional-note {
    display: none;
}
