.account {
    .nav a {
        color: #575757 !important;
        &:hover {
            color: #8e7171 !important;
        }
    }
    .block-collapsible-nav .item.current > strong {
        border-color: #8e7171 !important;
    }
    .column {
        display: flex;
        flex-flow: column;
        .account-additional-note {
            order: 5;
            padding-top: 35px;
        }
    }
    .box-newsletter {
        display: none;
    }
    .box-title {
        margin-bottom: 10px;
        display: block;
        span {
            font-size: 18px !important;
        }
    }
    .column.main .block:not(.widget) .block-title > strong {
        font-size: 22px !important;
        font-weight: bold;
    }
    .box-billing-address .box-content,
    .box-shipping-address .box-content {
        font-size: 16px !important;
    }
    .sidebar-additional {
        display: none;
    }
    .box-address-billing .box-content,
    .box-address-shipping .box-content {
        font-size: 16px !important;
    }

    .column.main .block:not(.widget) .box-title > span {
        font-size: 16px;
    }

    .sidebar-additional,
    .block-dashboard-orders,
    .nav.items .nav.item:nth-of-type(3),
    .nav.items .nav.item:nth-of-type(7),
    .nav.items .nav.item:nth-of-type(9),
    .nav.items .nav.item:nth-of-type(11),
    .nav.items .nav.item:nth-of-type(12),
    .nav.items .nav.item:nth-of-type(14) {
        display: none !important;
    }

    .modal-inner-wrap .action-close {
        background: transparent !important;
        min-width: 20px !important;
        text-align: right !important;
        &:before {
            font-weight: bold !important;
            color: #000;
        }
        &:hover:before {
            color: #8e7171 !important;
        }
    }

    .modal-footer {
        display: block !important;
        padding: 20px !important;
        button {
            margin: 5px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .account {
        .modal-footer {
            button {
                width: calc(100% - 10px) !important;
            }
        }
    }
}
