.checkout-cart-index {
    .product-item-name {
        font-size: 18px !important;
        a {
            color: #383838 !important;
        }
    }
    #block-shipping {
        display: none;
    }
    .coupon {
        display: flex;
        .field {
            width: 75%;
            margin: 0;
            .control {
                height: 100%;
                input {
                    height: 100%;
                }
            }
        }
    }
    .form-cart button {
        background: transparent !important;
        color: #8e7171 !important;
        border: 1px solid #8e7171 !important;
        font-size: 12px !important;
        min-width: 180px !important;
        padding: 12px 15px !important;
        &:hover {
            background: #8e7171 !important;
            color: #fff !important;
        }
    }
    .cart-gift-item {
        .gift-item-block {
            .title {
                color: #000 !important;
                font-size: 16px !important;
                &:after {
                    font-size: 12px !important;
                }
            }
        }
        .gift-options-title {
            font-size: 18px !important;
        }
        .field.choice {
            display: flex;
            label {
                margin: 3px 0 0 8px;
            }
        }
        button {
            margin: 0 5px !important;
        }
    }
    .cart-discount {
        .discount {
            width: 100% !important;
            .title {
                strong {
                    color: #000 !important;
                    font-size: 16px !important;
                    &:after {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
    .order-summary {
        font-size: 22px;
        font-weight: bold;
    }
    .cart-summary .block .title strong {
        font-size: 16px;
        font-weight: normal;
    }
    .cart-price span {
        font-weight: 400 !important;
        font-size: 14px;
    }
    .product-item-details {
        font-size: 12px;
    }
    .item-options {
        font-size: 12px;
        dt {
            font-weight: bold;
        }
    }
    .grand.totals {
        th,
        td {
            font-size: 16px;
        }
    }
    .checkout {
        button {
            margin: 10px 0 !important;
        }
    }
    .we-accept-cards {
        background-image: url('https://res.cloudinary.com/foco/images/v1631046302/credit-card-icons/credit-card-icons.png');
        background-repeat: no-repeat;
        width: 450px;
        height: 50px;
        position: relative;
        left: -10px;
        top: 10px;
        img {
            display: none;
        }
    }
    .cart.table-wrapper .actions-toolbar {
        min-height: 25px !important;
    }
    .cart.table-wrapper .cart thead tr th.col {
        font-weight: bold;
    }
    a.action.continue {
        font-weight: bold;
    }
    a.affirm-modal-trigger,
    a.action.continue {
        font-size: 14px;
        display: block;
        color: #8e7171 !important;
    }
    #affirmfinance {
        font-size: 14px;
    }
    .item-info {
        .field.qty {
            border: 1px solid #bcbcbc;
            font-size: 14px;
            height: 30px;
            width: 40px;
            text-align: center;
            padding-top: 3px;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial,
                sans-serif;
        }
        input {
            margin-top: 0 !important;
            height: auto !important;
            border: none;
            width: 30px !important;
        }
    }
    .action-rebuild {
        position: absolute;
        top: 3px;
        right: 10px;
        font-size: 14px;
    }
    .stone-price-heading {
        display: none;
    }
    #block-discount {
        display: none;
    }

    .price.strikethrough {
        text-decoration: line-through;
    }
    .cart-price + .price-excluding-tax .cart-price {
        color: Red;
    }
}

@media screen and (max-width: 1024px) {
    .checkout-cart-index {
        .cart-container {
            display: flex;
            flex-flow: column;
        }
        .form-cart {
            order: 1 !important;
            width: 100% !important;
        }
        .cart-summary {
            position: unset !important;
            order: 2;
            width: 100% !important;
        }
        .cart-discount {
            order: 3 !important;
            width: 100% !important;
        }
        .action.update {
            margin: 0 !important;
        }
        .coupon {
            .field {
                width: 55%;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .cart .action.clear,
    .cart .action.update {
        margin: 5px !important;
        width: auto !important;
    }
    .cart.main.actions {
        margin: 10px;
    }
    .action-continue.we-accept {
        padding: 15px;
    }
    .stone-price-heading {
        display: inline-block !important;
    }
    .item-info {
        .col.qty {
            text-align: center !important;
            .field {
                margin: 0 auto;
            }
        }
        .col.subtotal {
            text-align: right !important;
        }
    }
    .checkout-cart-index .product-item-name {
        font-size: 16px !important;
    }
}

@media screen and (max-width: 639px) {
    .checkout-cart-index .cart-gift-item button {
        margin: 5px 0 !important;
    }
    .checkout-cart-index .coupon {
        flex-flow: wrap;
        .field {
            width: 100%;
            height: 45px;
        }
        .actions-toolbar {
            width: 100%;
            .primary {
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
    }
    .checkout-cart-index .we-accept-cards {
        max-width: 300px;
        background-size: contain;
    }
}
