.checkout-index-index {
    .page-header:nth-of-type(2) {
        display: none;
    }
    .authentication-wrapper {
        margin-top: 0 !important;
    }
    #checkout {
        padding: 50px 0;
    }
    select {
        border: 1px solid #c2c2c2;
    }
    .opc-progress-bar {
        margin: 0 0 40px;
    }
    .opc-progress-bar-item._active:before {
        background-color: #8e7171 !important;
        border-color: #8e7171 !important;
    }
    .opc-progress-bar-item._active > span::before {
        background: #8e7171 !important;
        border-color: #8e7171 !important;
    }
    .opc-progress-bar-item._active > span::after {
        border-color: #8e7171 !important;
    }
    .opc-progress-bar-item._complete > span {
        color: #000 !important;
    }
    .opc-progress-bar-item > span::after {
        font-size: 18px !important;
    }
    .opc-progress-bar-item > span {
        font-size: 16px !important;
        padding-top: 50px;
    }
    .opc-block-summary > .title {
        font-size: 22px;
        font-weight: bold;
    }
    .opc-block-summary .items-in-cart > .title strong {
        font-size: 16px;
    }
    .opc-wrapper .step-title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .checkout-step-shipping_method .actions-toolbar {
        padding-top: 20px;
    }
    .minicart-items .product > .product-image-container {
        width: 60px !important;
    }
    .minicart-items .product-item-details {
        padding-left: 70px;
        font-size: 15px;
    }
    .opc-block-summary .product-item .product-item-name-block {
        padding-right: 50px;
    }
    .opc-wrapper .shipping-address-item.selected-item {
        border-color: #8e7171 !important;
        &:after {
            background: #8e7171 !important;
        }
    }
    .actions-toolbar .secondary .remind {
        padding-top: 5px;
        margin-left: 15px;
    }
    label {
        font-size: 14px;
    }
    input {
        font-size: 16px !important;
    }
    input[type='checkbox'] {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        &:before {
            left: 50% !important;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input[type='radio'] {
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
        border-radius: 50%;
        width: 20px !important;
        height: 20px !important;
        border: 1px solid #999;
        margin: 0 !important;
        position: relative;
        &:checked {
            border: 5px solid black;
        }
    }
    .payment-method > .field {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .braintree-credit-card-selected {
        width: 32px;
    }
    .payment-method-braintree .cvv .field-tooltip {
        top: 0 !important;
    }
    .checkout-payment-method .payment-option-title .action-toggle {
        color: #000;
    }
    .opc-block-summary .table-totals .grand .amount,
    .opc-block-summary .table-totals .grand .mark {
        font-size: 16px;
    }
    .opc-block-shipping-information .shipping-information-title {
        font-size: 22px;
        font-weight: bold;
    }
    .shipping-information button {
        background: transparent !important;
        padding: 0 !important;
        min-width: auto !important;
    }
    .form-discount {
        input[type='text'] {
            height: 47px !important;
        }
    }
    .product-item-inner {
        display: flex !important;
    }
    .opc-block-summary .product-item .price {
        font-size: 16px !important;
    }
    .authentication-dropdown .action-close,
    .opc-summary-wrapper .action-close,
    .modal-popup .modal-inner-wrap .action-close {
        background: transparent !important;
        min-width: 20px !important;
        &:before {
            font-weight: bold !important;
            color: #000;
        }
        &:hover:before {
            color: #8e7171 !important;
        }
    }
    .opc-summary-wrapper .action-close {
        width: 50px !important;
        padding: 15px !important;
    }
    .authentication-dropdown .primary {
        float: none !important;
        .action-login {
            min-width: 100% !important;
        }
    }
    .authentication-dropdown .action-remind {
        font-size: 14px;
    }
    .modal-footer {
        display: block !important;
        padding: 20px !important;
        button {
            margin: 0 10px !important;
        }
    }
    .form-shipping-address .field[name='shippingAddress.fax'] {
        display: none;
    }
    .opc-estimated-wrapper .minicart-wrapper {
        display: block !important;
        .showcart {
            background: transparent !important;
            min-width: 20px !important;
            padding: 10px !important;
            .counter {
                background: #d50000;
                border-radius: 0;
                .counter-number {
                    text-shadow: none !important;
                }
            }
        }
    }
    .minicart-wrapper .action.showcart:before {
        content: '' !important;
        width: 25px;
        height: 25px;
        margin-top: 2px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22nav__svg__icon--bag%20svelte-1w5mpo%22%20viewBox%3D%220%200%2016.5747%2021.9274%22%3E%3Cdefs%20class%3D%22svelte-1w5mpo%22%3E%3Cstyle%20class%3D%22svelte-1w5mpo%22%2F%3E%3C%2Fdefs%3E%3Cpath%20class%3D%223fb47baf-1371-4588-a2fa-d13b41ae7ebf%20svelte-1w5mpo%22%20d%3D%22M43.5156%2C31.6328a.8164.8164%2C0%2C0%2C0-.8154-.7744H40.1768V29.6665a4.2337%2C4.2337%2C0%2C0%2C0-8.4664.13v1.062H29.1851a.8172.8172%2C0%2C0%2C0-.8155.7763l-.7168%2C14.9737a.82.82%2C0%2C0%2C0%2C.8164.8193H43.4111l.0332-.001a.816.816%2C0%2C0%2C0%2C.7823-.8535ZM33.3423%2C29.7964a2.6%2C2.6%2C0%2C0%2C1%2C5.2%2C0v1.062h-5.2Zm-4.0137%2C16%2C.6333-13.3067H31.71v.45a.816.816%2C0%2C1%2C0%2C1.6319%2C0v-.4492h5.2v.4492a.8172.8172%2C0%2C0%2C0%2C.8164.816h.0029a.8146.8146%2C0%2C0%2C0%2C.8155-.816v-.4492h1.7451l.6328%2C13.3067Z%22%20transform%3D%22translate(-27.6528%20-25.5003)%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        background-size: contain;
    }
}

@media screen and (max-width: 1024px) {
    .checkout-index-index {
        .minicart-items .product > .product-image-container {
            width: 40px !important;
        }
        .minicart-items .product-item-details {
            padding-left: 45px;
        }
        .opc-block-summary .product-item .product-item-name-block {
            padding-right: 5px;
        }
        .opc-block-summary .product-item .price {
            font-size: 14px !important;
        }
    }
}

@media screen and (max-width: 767px) {
    .checkout-index-index {
        .checkout-payment-method .actions-toolbar .primary {
            float: none;
        }
        .checkout-payment-method .payment-methods {
            margin: 0 !important;
        }
        input[type='checkbox'] {
            width: 25px !important;
            height: 25px !important;
        }
        .minicart-items-wrapper {
            max-height: none !important;
        }
    }
}

@media screen and (max-width: 639px) {
    .checkout-index-index .authentication-wrapper {
        padding-bottom: 40px;
        float: none !important;
        max-width: 100% !important;
    }
    .checkout-index-index #checkout {
        padding: 0;
    }
}
