.customer-account-create {
    .actions-toolbar {
        .primary {
            &.action {
                height: auto;
                padding: 15px;
                background: #000;
                border: none;
                border-radius: 0;
                text-transform: uppercase;
                &:hover {
                    background: #af9c9b !important;
                }
            }
        }
    }
}
