footer {
    display: none;
}

.copyright {
    background: transparent;
    color: #000;
    padding: 10px 0 50px 0 !important;
    font-size: 10px !important;
    a {
        color: inherit !important;
    }
}
