<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="forevercompanies" translate="label" sortOrder="200">
            <label>ForeverCompanies</label>
        </tab>
        <section id="salesforcecrm"
                 translate="label"
                 type="text"
                 sortOrder="30"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
                    <class>separator-top</class>
                    <label>SalesforceCRM Config</label>
                    <tab>forevercompanies</tab>
                    <resource>ForeverCompanies_Salesforce::config_salesforce</resource>
             <include path="ForeverCompanies_Salesforce::salesforce/application.xml"/>
        </section>
    </system>
</config>
