<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="loose-stone" id="loose_stone">
            <module name="ForeverCompanies_LooseStoneImport"/>
        </route>
    </router>
</config>