@charset "UTF-8";
h1,
h2,
h3 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important; }

h4 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-light) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.01625em !important; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 18px !important;
      line-height: 26px !important;
      letter-spacing: 0.00777em !important; } }

h5 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.008125em !important; }

h6 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0.01em !important;
  text-transform: uppercase !important; }

button {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  font-weight: var(--weight-normal) !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 24px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  border: none !important;
  border-radius: 0 !important; }
  @media screen and (min-width: 768px) {
    button {
      width: auto !important;
      text-decoration: none !important; } }
  button:hover {
    background-color: var(--color-lightprimary) !important;
    border-color: var(--color-lightprimary) !important;
    color: var(--color-white) !important; }

a {
  color: var(--color-primary) !important; }
  a:hover {
    color: var(--color-primary) !important; }

.page-title-wrapper {
  padding-bottom: 15px; }
  @media screen and (min-width: 768px) {
    .page-title-wrapper {
      padding-bottom: 40px; } }

.field.choice input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1px solid #000; }
  .field.choice input[type='checkbox']:checked:before {
    content: '✔';
    position: absolute;
    left: 2px; }

header .panel,
.block-search,
.minicart-wrapper,
.nav-toggle {
  display: none; }

.header {
  padding: 40px 20px 20px !important;
  max-width: none !important;
  background-color: #f9ece8; }
  .header .logo {
    margin: 10px 0 10px 0 !important;
    left: 50%;
    transform: translateX(-50%); }
    .header .logo svg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 300px; }
      .header .logo svg .\35 3a764d1-d165-4d03-a9d2-821bb53f9959 {
        fill: #d72627; }
      .header .logo svg:hover {
        fill: #d72627; }

@media screen and (max-width: 639px) {
  .header {
    padding: 30px 20px 20px !important; }
    .header .logo {
      margin: 0 !important;
      max-width: initial !important; }
      .header .logo svg {
        top: 0;
        transform: none;
        width: 200px; } }

footer {
  display: none; }

.copyright {
  background: transparent;
  color: #000;
  padding: 10px 0 50px 0 !important;
  font-size: 10px !important; }
  .copyright a {
    color: inherit !important; }

.customer-account-login #maincontent {
  position: relative; }

.customer-account-login .page.messages {
  padding-top: 105px; }
  @media screen and (min-width: 768px) {
    .customer-account-login .page.messages {
      padding-top: 55px; } }

.customer-account-login .password-reset-messaging {
  position: absolute;
  border: 1px solid #000;
  padding: 3px;
  top: 40px;
  right: 20px;
  left: 20px; }
  @media screen and (min-width: 380px) {
    .customer-account-login .password-reset-messaging {
      top: 50px; } }
  @media screen and (min-width: 768px) {
    .customer-account-login .password-reset-messaging {
      padding: 10px; } }
  .customer-account-login .password-reset-messaging p {
    font-size: 14px; }
    @media screen and (min-width: 768px) {
      .customer-account-login .password-reset-messaging p {
        font-size: 16px; } }

.customer-account-login .block-title {
  padding-top: 0; }
  @media screen and (min-width: 768px) {
    .customer-account-login .block-title {
      padding-top: 60px; } }
  .customer-account-login .block-title #block-customer-login-heading {
    display: block;
    padding-top: 110px; }
    @media screen and (min-width: 380px) {
      .customer-account-login .block-title #block-customer-login-heading {
        padding-top: 100px; } }
    @media screen and (min-width: 768px) {
      .customer-account-login .block-title #block-customer-login-heading {
        padding-top: 0; } }

.customer-account-login .actions-toolbar > .primary .action:last-child {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  font-weight: var(--weight-normal) !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 24px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  text-decoration: none;
  border-radius: 0 !important; }
  @media screen and (min-width: 768px) {
    .customer-account-login .actions-toolbar > .primary .action:last-child {
      width: auto !important; } }
  .customer-account-login .actions-toolbar > .primary .action:last-child:hover {
    background-color: var(--color-lightprimary) !important;
    border-color: var(--color-lightprimary) !important;
    color: var(--color-white) !important; }

.customer-account-login .secondary {
  margin: 5px 0 0 10px; }

.customer-account-login .login-container .fieldset:after {
  font-size: 12px !important; }

.customer-account-login .amazon-validate-container .block .block-title strong,
.customer-account-login .login-container .block .block-title strong {
  font-weight: bold;
  font-size: 22px; }

.customer-account-login .message.error {
  font-size: 16px !important; }

.account .nav a {
  color: #575757 !important; }
  .account .nav a:hover {
    color: #8e7171 !important; }

.account .block-collapsible-nav .item.current > strong {
  border-color: #8e7171 !important; }

.account .column {
  display: flex;
  flex-flow: column; }
  .account .column .account-additional-note {
    order: 5;
    padding-top: 35px; }

.account .box-newsletter {
  display: none; }

.account .box-title {
  margin-bottom: 10px;
  display: block; }
  .account .box-title span {
    font-size: 18px !important; }

.account .column.main .block:not(.widget) .block-title > strong {
  font-size: 22px !important;
  font-weight: bold; }

.account .box-billing-address .box-content,
.account .box-shipping-address .box-content {
  font-size: 16px !important; }

.account .sidebar-additional {
  display: none; }

.account .box-address-billing .box-content,
.account .box-address-shipping .box-content {
  font-size: 16px !important; }

.account .column.main .block:not(.widget) .box-title > span {
  font-size: 16px; }

.account .sidebar-additional,
.account .block-dashboard-orders,
.account .nav.items .nav.item:nth-of-type(3),
.account .nav.items .nav.item:nth-of-type(7),
.account .nav.items .nav.item:nth-of-type(9),
.account .nav.items .nav.item:nth-of-type(11),
.account .nav.items .nav.item:nth-of-type(12),
.account .nav.items .nav.item:nth-of-type(14) {
  display: none !important; }

body:not(.customer-account-index) .account-additional-note {
  display: none; }

.customer-account-create .form-create-account .fieldset.create.account:after {
  font-size: 12px !important; }

.customer-account-create .legend span {
  font-size: 24px !important; }

.customer-account-create .form.create {
  display: flex;
  flex-flow: wrap;
  width: 100% !important; }
  .customer-account-create .form.create .fieldset.create.info,
  .customer-account-create .form.create .fieldset.create.account {
    width: 100%;
    padding: none; }
    @media screen and (min-width: 768px) {
      .customer-account-create .form.create .fieldset.create.info,
      .customer-account-create .form.create .fieldset.create.account {
        width: 50%;
        padding-right: 50px; } }
  .customer-account-create .form.create .actions-toolbar {
    width: 100%;
    padding-top: 20px; }

.checkout-cart-index .product-item-name {
  font-size: 18px !important; }
  .checkout-cart-index .product-item-name a {
    color: #383838 !important; }

.checkout-cart-index #block-shipping {
  display: none; }

.checkout-cart-index .coupon {
  display: flex; }
  .checkout-cart-index .coupon .field {
    width: 75%;
    margin: 0; }
    .checkout-cart-index .coupon .field .control {
      height: 100%; }
      .checkout-cart-index .coupon .field .control input {
        height: 100%; }

.checkout-cart-index .form-cart button {
  background: transparent !important;
  color: #000 !important;
  border: 2px solid #000 !important;
  font-size: 12px !important;
  min-width: 180px !important;
  padding: 12px 15px !important; }
  .checkout-cart-index .form-cart button:hover {
    background: #000 !important;
    color: #fff !important; }

.checkout-cart-index .cart-gift-item .gift-item-block .title {
  color: #000 !important;
  font-size: 16px !important; }
  .checkout-cart-index .cart-gift-item .gift-item-block .title:after {
    font-size: 12px !important; }

.checkout-cart-index .cart-gift-item .gift-options-title {
  font-size: 18px !important; }

.checkout-cart-index .cart-gift-item .field.choice {
  display: flex; }
  .checkout-cart-index .cart-gift-item .field.choice label {
    margin: 3px 0 0 8px; }

.checkout-cart-index .cart-gift-item button {
  margin: 0 5px !important; }

.checkout-cart-index .cart-discount .discount {
  width: 100% !important; }
  .checkout-cart-index .cart-discount .discount .title strong {
    color: #000 !important;
    font-size: 16px !important; }
    .checkout-cart-index .cart-discount .discount .title strong:after {
      font-size: 12px !important; }

.checkout-cart-index .order-summary {
  font-size: 22px;
  font-weight: bold; }

.checkout-cart-index .cart-summary .block .title strong {
  font-size: 16px;
  font-weight: normal; }

.checkout-cart-index .cart-price span {
  font-weight: 400 !important;
  font-size: 14px; }

.checkout-cart-index .product-item-details {
  font-size: 12px; }

.checkout-cart-index .item-options {
  font-size: 12px; }
  .checkout-cart-index .item-options dt {
    font-weight: bold; }

.checkout-cart-index .grand.totals th,
.checkout-cart-index .grand.totals td {
  font-size: 16px; }

.checkout-cart-index .checkout button {
  margin: 10px 0 !important; }

.checkout-cart-index .we-accept-cards {
  background-image: none;
  padding-top: 10px; }
  .checkout-cart-index .we-accept-cards img {
    margin-left: -10px; }

.checkout-cart-index .cart.table-wrapper .actions-toolbar {
  min-height: 25px !important; }

.checkout-cart-index .cart.table-wrapper .cart thead tr th.col {
  font-weight: bold; }

.checkout-cart-index a.action.continue {
  font-weight: bold; }

.checkout-cart-index a.affirm-modal-trigger,
.checkout-cart-index a.action.continue {
  font-size: 14px;
  display: block;
  color: #000 !important; }

.checkout-cart-index #affirmfinance {
  font-size: 14px; }

.checkout-cart-index .item-info .field.qty {
  border: 1px solid #bcbcbc;
  font-size: 14px;
  height: 30px;
  width: 40px;
  text-align: center;
  padding-top: 3px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.checkout-cart-index .item-info input {
  margin-top: 0 !important;
  height: auto !important;
  border: none;
  width: 30px !important; }

.checkout-cart-index .action-rebuild {
  position: absolute;
  top: 3px;
  right: 10px;
  font-weight: bold;
  font-size: 14px; }

.checkout-cart-index .stone-price-heading {
  display: none; }

.checkout-cart-index #block-discount {
  display: none; }

@media screen and (max-width: 1024px) {
  .checkout-cart-index .cart-container {
    display: flex;
    flex-flow: column; }
  .checkout-cart-index .form-cart {
    order: 1 !important;
    width: 100% !important; }
  .checkout-cart-index .cart-summary {
    position: unset !important;
    order: 2;
    width: 100% !important; }
  .checkout-cart-index .cart-discount {
    order: 3 !important;
    width: 100% !important; }
  .checkout-cart-index .action.update {
    margin: 0 !important; }
  .checkout-cart-index .coupon .field {
    width: 55%; } }

@media screen and (max-width: 767px) {
  .cart .action.clear,
  .cart .action.update {
    margin: 5px !important;
    width: auto !important; }
  .cart.main.actions {
    margin: 10px; }
  .action-continue.we-accept {
    padding: 15px; }
  .stone-price-heading {
    display: inline-block !important; }
  .item-info .col.qty {
    text-align: center !important; }
    .item-info .col.qty .field {
      margin: 0 auto; }
  .item-info .col.subtotal {
    text-align: right !important; }
  .checkout-cart-index .product-item-name {
    font-size: 16px !important; } }

@media screen and (max-width: 639px) {
  .checkout-cart-index .cart-gift-item button {
    margin: 5px 0 !important; }
  .checkout-cart-index .coupon {
    flex-flow: wrap; }
    .checkout-cart-index .coupon .field {
      width: 100%;
      height: 45px; }
    .checkout-cart-index .coupon .actions-toolbar {
      width: 100%; }
      .checkout-cart-index .coupon .actions-toolbar .primary {
        width: 100%; }
        .checkout-cart-index .coupon .actions-toolbar .primary button {
          width: 100%; } }

.checkout-index-index .page-header:nth-of-type(2) {
  display: none; }

.checkout-index-index .authentication-wrapper {
  margin-top: 0 !important; }

.checkout-index-index #checkout {
  padding: 50px 0; }

.checkout-index-index select {
  border: 1px solid #c2c2c2; }

.checkout-index-index .opc-progress-bar {
  margin: 0 0 40px; }

.checkout-index-index .opc-progress-bar-item._active:before {
  background-color: #8e7171 !important;
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::before {
  background: #8e7171 !important;
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::after {
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._complete > span {
  color: #000 !important; }

.checkout-index-index .opc-progress-bar-item > span::after {
  font-size: 18px !important; }

.checkout-index-index .opc-progress-bar-item > span {
  font-size: 16px !important;
  padding-top: 50px; }

.checkout-index-index .opc-block-summary > .title {
  font-size: 22px;
  font-weight: bold; }

.checkout-index-index .opc-block-summary .items-in-cart > .title strong {
  font-size: 16px; }

.checkout-index-index .opc-wrapper .step-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase; }

.checkout-index-index .form.methods-shipping input[type='radio'] {
  margin: 0 !important; }

.checkout-index-index .checkout-step-shipping_method .actions-toolbar {
  padding-top: 20px; }

.checkout-index-index .minicart-items .product > .product-image-container {
  width: 60px !important; }

.checkout-index-index .minicart-items .product-item-details {
  padding-left: 70px;
  font-size: 15px; }

.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
  padding-right: 50px; }

.checkout-index-index .opc-wrapper .shipping-address-item.selected-item {
  border-color: #8e7171 !important; }
  .checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {
    background: #8e7171 !important; }

.checkout-index-index .actions-toolbar .secondary .remind {
  padding-top: 10px;
  margin-left: 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold; }

.checkout-index-index input[type='radio'] {
  width: 18px !important;
  height: 18px !important;
  margin-right: 5px !important;
  border: 1px solid #000 !important; }

.checkout-index-index input[type='radio']:not([disabled]):checked {
  position: relative; }
  .checkout-index-index input[type='radio']:not([disabled]):checked:after {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: #000; }

.checkout-index-index .braintree-credit-card-selected {
  width: 32px; }

.checkout-index-index .payment-method-braintree .cvv .field-tooltip {
  top: 0 !important; }

.checkout-index-index .checkout-payment-method .payment-option-title .action-toggle {
  color: #000; }

.checkout-index-index .opc-block-summary .table-totals .grand .amount,
.checkout-index-index .opc-block-summary .table-totals .grand .mark {
  font-size: 16px; }

.checkout-index-index .opc-block-shipping-information .shipping-information-title {
  font-size: 22px;
  font-weight: bold; }

.checkout-index-index .shipping-information button {
  background: transparent !important;
  padding: 0 !important;
  min-width: auto !important; }

.checkout-index-index .form-discount input[type='text'] {
  height: 47px !important; }

.checkout-index-index .product-item-inner {
  display: flex !important; }

.checkout-index-index .opc-block-summary .product-item .price {
  font-size: 16px !important; }

.checkout-index-index .authentication-dropdown .action-close,
.checkout-index-index .opc-summary-wrapper .action-close,
.checkout-index-index .modal-popup .modal-inner-wrap .action-close {
  background: transparent !important;
  min-width: 20px !important; }
  .checkout-index-index .authentication-dropdown .action-close:before,
  .checkout-index-index .opc-summary-wrapper .action-close:before,
  .checkout-index-index .modal-popup .modal-inner-wrap .action-close:before {
    font-weight: bold !important;
    color: #000; }
  .checkout-index-index .authentication-dropdown .action-close:hover:before,
  .checkout-index-index .opc-summary-wrapper .action-close:hover:before,
  .checkout-index-index .modal-popup .modal-inner-wrap .action-close:hover:before {
    color: #8e7171 !important; }

.checkout-index-index .opc-summary-wrapper .action-close {
  width: 50px !important;
  padding: 15px !important; }

.checkout-index-index .authentication-dropdown .primary {
  float: none !important; }
  .checkout-index-index .authentication-dropdown .primary .action-login {
    min-width: 100% !important; }

.checkout-index-index .authentication-dropdown .action-remind {
  font-size: 14px; }

.checkout-index-index .modal-footer {
  display: block !important;
  padding: 20px !important; }
  .checkout-index-index .modal-footer button {
    margin: 0 10px !important; }

@media screen and (max-width: 1024px) {
  .checkout-index-index .minicart-items .product > .product-image-container {
    width: 40px !important; }
  .checkout-index-index .minicart-items .product-item-details {
    padding-left: 45px; }
  .checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 5px; }
  .checkout-index-index .opc-block-summary .product-item .price {
    font-size: 14px !important; } }

@media screen and (max-width: 767px) {
  .checkout-index-index .checkout-payment-method .actions-toolbar .primary {
    float: none; }
  .checkout-index-index .checkout-payment-method .payment-methods {
    margin: 0 !important; } }

@media screen and (max-width: 639px) {
  .checkout-index-index .authentication-wrapper {
    padding-bottom: 40px;
    float: none !important;
    max-width: 100% !important; }
  .checkout-index-index #checkout {
    padding: 0; } }

.checkout-onepage-success .page-main {
  text-align: center;
  padding: 50px 0; }

.checkout-onepage-success .page-title {
  text-align: center !important;
  letter-spacing: 3px !important;
  margin-bottom: 10px !important;
  font-size: 30px !important; }
  .checkout-onepage-success .page-title .base {
    white-space: pre-line;
    text-align: center !important; }

.checkout-onepage-success .columns {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 15px; }
  .checkout-onepage-success .columns h3 {
    font-size: 18px !important;
    line-height: 26px !important; }

.checkout-onepage-success .page-main > .page-title-wrapper .page-title + .action {
  display: none; }

.checkout-onepage-success .checkout-success {
  text-align: center !important; }
  .checkout-onepage-success .checkout-success > p {
    margin-bottom: 0;
    font-size: 16px; }
  .checkout-onepage-success .checkout-success p > a {
    font-size: 16px;
    color: #000 !important; }
    .checkout-onepage-success .checkout-success p > a:hover {
      color: #000 !important; }
  .checkout-onepage-success .checkout-success .actions-toolbar .primary {
    display: block !important;
    float: none !important;
    text-align: center; }
    .checkout-onepage-success .checkout-success .actions-toolbar .primary a {
      font-size: 16px;
      text-transform: none;
      text-decoration: underline;
      color: #8e7171 !important;
      padding: 0 !important;
      background: transparent !important;
      margin: 0 !important;
      border: none !important;
      line-height: unset !important; }
      .checkout-onepage-success .checkout-success .actions-toolbar .primary a:hover {
        color: #d0b0b1 !important; }

.checkout-onepage-success .success-content {
  padding: 30px 0;
  max-width: 800px;
  margin: 0 auto; }

.checkout-onepage-success .success-page-features {
  display: flex;
  gap: 15px;
  padding: 30px 0; }
  .checkout-onepage-success .success-page-features .additional-success-blocks {
    width: 50%; }
    .checkout-onepage-success .success-page-features .additional-success-blocks .email-block {
      margin-bottom: 15px;
      padding: 20px;
      border: 1px solid #ccc; }
      .checkout-onepage-success .success-page-features .additional-success-blocks .email-block svg {
        width: 80px;
        padding-bottom: 10px;
        fill: #8e7171; }
    .checkout-onepage-success .success-page-features .additional-success-blocks .featured-block {
      border: 1px solid #ccc;
      background-image: url("https://res.cloudinary.com/foco/images/v1607740505/diamond_nexus/blog/2016/june/1/trendy-ring-styles-for-summer-2016/hero/hero.jpg");
      background-size: cover;
      background-position: center;
      padding: 200px 20px 20px 20px; }
  .checkout-onepage-success .success-page-features .calendar {
    width: 50%;
    border: 1px solid #ccc;
    padding: 10px 0; }
    .checkout-onepage-success .success-page-features .calendar .calendar-title {
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      text-transform: uppercase;
      font-weight: bold; }
    .checkout-onepage-success .success-page-features .calendar .delivery-date {
      padding-top: 20px; }
      .checkout-onepage-success .success-page-features .calendar .delivery-date .month {
        text-transform: uppercase;
        font-size: 18px; }
      .checkout-onepage-success .success-page-features .calendar .delivery-date .day {
        font-size: 90px;
        line-height: 1;
        color: #8e7171; }
    .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar {
      box-shadow: none;
      margin: 10px auto 0; }
      .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar .flatpickr-months {
        display: none; }
      .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekday {
        color: #bbb; }
      .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar .flatpickr-days .today {
        border: none; }
      .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar .flatpickr-days .selected {
        background: #8e7171;
        border-color: #8e7171; }
      .checkout-onepage-success .success-page-features .calendar .flatpickr-calendar .flatpickr-days .dayContainer {
        pointer-events: none; }

.checkout-onepage-success #create_account_form {
  padding: 30px 200px;
  border: 1px solid #ccc; }
  .checkout-onepage-success #create_account_form .form-fields {
    max-width: 350px;
    margin: 0 auto; }
    .checkout-onepage-success #create_account_form .form-fields label {
      display: block;
      text-align: left;
      padding-top: 20px;
      font-weight: bold; }
    .checkout-onepage-success #create_account_form .form-fields button {
      margin-top: 20px !important; }

@media screen and (max-width: 767px) {
  .checkout-onepage-success .page-title {
    font-size: 26px !important; }
  .checkout-onepage-success #create_account_form {
    padding: 30px 50px; }
  .checkout-onepage-success .success-content {
    padding: 30px 10px; }
  .checkout-onepage-success .success-page-features {
    display: block; }
    .checkout-onepage-success .success-page-features .calendar {
      width: 100%; }
    .checkout-onepage-success .success-page-features .additional-success-blocks {
      width: 100%;
      margin-top: 15px; } }
