@charset "UTF-8";
h1 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 32px !important;
  line-height: 40px !important;
  letter-spacing: 0.2em !important;
  text-transform: uppercase !important; }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 38px !important;
      line-height: 46px !important; } }

h2 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 24px !important;
  line-height: 32px !important;
  letter-spacing: 0.2em !important;
  text-transform: uppercase !important; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 32px !important;
      line-height: 40px !important; } }

h3 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 18px !important;
  line-height: 26px !important;
  letter-spacing: 0.1em !important;
  text-transform: uppercase !important; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 24px !important;
      line-height: 32px !important; } }

h4 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-light) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.01625em !important; }
  @media screen and (min-width: 768px) {
    h4 {
      font-size: 18px !important;
      line-height: 26px !important;
      letter-spacing: 0.00777em !important; } }

h5 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 16px !important;
  line-height: 24px !important;
  letter-spacing: 0.008125em !important; }

h6 {
  font-family: var(--sans-serif) !important;
  font-weight: var(--weight-bold) !important;
  font-size: 12px !important;
  line-height: 18px !important;
  letter-spacing: 0.01em !important;
  text-transform: uppercase !important; }

button {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  font-weight: var(--weight-normal) !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 24px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  text-decoration: none !important;
  border: none !important; }
  @media screen and (min-width: 768px) {
    button {
      width: auto !important;
      text-decoration: none !important; } }
  button:hover {
    background-color: var(--color-lightprimary) !important;
    border-color: var(--color-lightprimary) !important;
    color: var(--color-white) !important; }

a:hover {
  color: var(--color-primary) !important; }

.page-title-wrapper {
  padding-bottom: 40px; }

.field.choice input[type='checkbox'] {
  width: 20px;
  height: 20px;
  border: 1px solid #000; }
  .field.choice input[type='checkbox']:checked:before {
    content: '✔';
    position: absolute;
    left: 2px; }

header .panel,
.block-search,
.minicart-wrapper,
.nav-toggle {
  display: none; }

.header {
  padding: 40px 20px 20px !important;
  max-width: none !important;
  background-color: #f9ece8; }
  .header .logo {
    margin: 10px 0 10px 0 !important;
    left: 50%;
    transform: translateX(-50%); }
    .header .logo svg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 300px; }
      .header .logo svg .\35 3a764d1-d165-4d03-a9d2-821bb53f9959 {
        fill: #d72627; }
      .header .logo svg:hover {
        fill: #d72627; }

@media screen and (max-width: 639px) {
  .header {
    padding: 30px 20px 20px !important; }
    .header .logo {
      margin: 0 !important;
      max-width: initial !important; }
      .header .logo svg {
        top: 0;
        transform: none;
        width: 200px; } }

footer {
  display: none; }

.copyright {
  background: transparent;
  color: #000; }

.customer-account-login .actions-toolbar > .primary .action:last-child {
  cursor: pointer !important;
  font-family: var(--sans-serif) !important;
  display: inline-block;
  text-align: center !important;
  margin: auto !important;
  background-color: var(--color-primary) !important;
  border: 2px solid var(--color-primary) !important;
  letter-spacing: normal !important;
  line-height: 1 !important;
  font-weight: var(--weight-normal) !important;
  font-size: 14px !important;
  min-width: 191px !important;
  padding: 16px 24px !important;
  color: var(--color-white) !important;
  width: 100% !important;
  border-radius: 3px !important;
  box-sizing: border-box !important;
  text-decoration: none; }
  @media screen and (min-width: 768px) {
    .customer-account-login .actions-toolbar > .primary .action:last-child {
      width: auto !important; } }
  .customer-account-login .actions-toolbar > .primary .action:last-child:hover {
    background-color: var(--color-lightprimary) !important;
    border-color: var(--color-lightprimary) !important;
    color: var(--color-white) !important; }

.customer-account-login .secondary {
  margin: 5px 0 0 10px; }

.customer-account-login .login-container .fieldset:after {
  font-size: 12px !important; }

.account .nav a:hover {
  color: #8e7171 !important; }

.account .block-collapsible-nav .item.current > strong {
  border-color: #8e7171 !important; }

.account .column {
  display: flex;
  flex-flow: column; }
  .account .column .account-additional-note {
    order: 5;
    padding-top: 35px; }

.account .box-newsletter {
  display: none; }

.account .box-title {
  margin-bottom: 10px;
  display: block; }
  .account .box-title span {
    font-size: 18px !important; }

.account .column.main .block:not(.widget) .block-title > strong {
  font-size: 28px !important; }

.account .box-billing-address .box-content,
.account .box-shipping-address .box-content {
  font-size: 16px !important; }

.account .sidebar-additional {
  display: none; }

body:not(.customer-account-index) .account-additional-note {
  display: none; }

.customer-account-create .form-create-account .fieldset.create.account:after {
  font-size: 12px !important; }

.customer-account-create .legend > span {
  font-size: 28px; }

.checkout-cart-index .product-item-name {
  font-size: 22px !important; }

.checkout-cart-index .price-excluding-tax {
  font-size: 20px !important; }

.checkout-cart-index .we-accept-cards {
  background-image: none; }

.checkout-cart-index .coupon {
  display: flex; }
  .checkout-cart-index .coupon .field {
    width: 75%;
    margin: 0; }
    .checkout-cart-index .coupon .field .control {
      height: 100%; }
      .checkout-cart-index .coupon .field .control input {
        height: 100%; }

.checkout-cart-index .cart-gift-item .gift-item-block .title {
  color: #000 !important;
  font-size: 22px !important; }
  .checkout-cart-index .cart-gift-item .gift-item-block .title:after {
    font-size: 16px !important; }

.checkout-cart-index .cart-gift-item .gift-options-title {
  font-size: 18px !important; }

.checkout-cart-index .cart-gift-item .field.choice {
  display: flex; }
  .checkout-cart-index .cart-gift-item .field.choice label {
    margin: 3px 0 0 8px; }

.checkout-cart-index .cart-gift-item button {
  margin: 0 5px !important; }

.checkout-cart-index .cart-discount .discount {
  width: 100% !important; }
  .checkout-cart-index .cart-discount .discount .title strong {
    color: #000 !important;
    font-size: 20px !important; }
    .checkout-cart-index .cart-discount .discount .title strong:after {
      font-size: 16px !important; }

.checkout-cart-index .order-summary {
  font-size: 24px; }

.checkout-cart-index .cart-summary .block .title strong {
  font-size: 16px; }

.checkout-cart-index .grand.totals th,
.checkout-cart-index .grand.totals td {
  font-size: 16px; }

.checkout-cart-index .checkout button {
  margin: 10px 0 !important; }

@media screen and (max-width: 1024px) {
  .checkout-cart-index .cart-container {
    display: flex;
    flex-flow: column; }
  .checkout-cart-index .form-cart {
    order: 1 !important;
    width: 100% !important; }
  .checkout-cart-index .cart-summary {
    position: unset !important;
    order: 2;
    width: 100% !important; }
  .checkout-cart-index .cart-discount {
    order: 3 !important;
    width: 100% !important; }
  .checkout-cart-index .action.update {
    margin: 0 !important; }
  .checkout-cart-index .coupon .field {
    width: 55%; } }

@media screen and (max-width: 767px) {
  .cart .action.clear,
  .cart .action.update {
    margin: 5px !important; }
  .cart.main.actions {
    margin: 10px; } }

@media screen and (max-width: 639px) {
  .checkout-cart-index .cart-gift-item button {
    margin: 5px 0 !important; }
  .checkout-cart-index .coupon {
    flex-flow: wrap; }
    .checkout-cart-index .coupon .field {
      width: 100%;
      height: 45px; }
    .checkout-cart-index .coupon .actions-toolbar {
      width: 100%; }
      .checkout-cart-index .coupon .actions-toolbar .primary {
        width: 100%; }
        .checkout-cart-index .coupon .actions-toolbar .primary button {
          width: 100%; } }

.checkout-index-index #checkout {
  padding: 50px 0; }

.checkout-index-index select {
  border: 1px solid #c2c2c2; }

.checkout-index-index .opc-progress-bar {
  margin: 0 0 40px; }

.checkout-index-index .opc-progress-bar-item._active:before {
  background-color: #8e7171 !important;
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::before {
  background: #8e7171 !important;
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._active > span::after {
  border-color: #8e7171 !important; }

.checkout-index-index .opc-progress-bar-item._complete > span {
  color: #000 !important; }

.checkout-index-index .opc-progress-bar-item > span::after {
  font-size: 18px !important; }

.checkout-index-index .opc-progress-bar-item > span {
  font-size: 16px !important;
  padding-top: 50px; }

.checkout-index-index .opc-wrapper .step-title {
  font-size: 28px; }

.checkout-index-index .form.methods-shipping input[type='radio'] {
  margin: 0 !important; }

.checkout-index-index .checkout-step-shipping_method .actions-toolbar {
  padding-top: 20px; }

.checkout-index-index .minicart-items .product > .product-image-container {
  width: 60px !important; }

.checkout-index-index .minicart-items .product-item-details {
  padding-left: 70px;
  font-size: 15px; }

.checkout-index-index .opc-block-summary .product-item .product-item-name-block {
  padding-right: 50px; }

.checkout-index-index .opc-wrapper .shipping-address-item.selected-item {
  border-color: #8e7171 !important; }
  .checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {
    background: #8e7171 !important; }

.checkout-index-index input[type='radio'] {
  width: 18px !important;
  height: 18px !important;
  margin-right: 5px !important;
  border: 1px solid #000 !important; }

.checkout-index-index input[type='radio']:not([disabled]):checked {
  background-color: #000 !important; }

.checkout-index-index .braintree-credit-card-selected {
  width: 32px; }

.checkout-index-index .payment-method-braintree .cvv .field-tooltip {
  top: 0 !important; }

.checkout-index-index .checkout-payment-method .payment-option-title .action-toggle {
  color: #000; }

.checkout-index-index .opc-block-summary .table-totals .grand .amount,
.checkout-index-index .opc-block-summary .table-totals .grand .mark {
  font-size: 16px; }

.checkout-index-index .opc-block-shipping-information .shipping-information-title {
  font-size: 22px; }

.checkout-index-index .shipping-information button {
  background: transparent !important;
  padding: 0 !important;
  min-width: auto !important; }

.checkout-index-index .form-discount input[type='text'] {
  height: 47px !important; }

@media screen and (max-width: 1024px) {
  .checkout-index-index .minicart-items .product > .product-image-container {
    width: 40px !important; }
  .checkout-index-index .minicart-items .product-item-details {
    padding-left: 45px; }
  .checkout-index-index .opc-block-summary .product-item .product-item-name-block {
    padding-right: 5px; }
  .checkout-index-index .opc-block-summary .product-item .price {
    font-size: 14px !important; } }

@media screen and (max-width: 767px) {
  .checkout-index-index .checkout-payment-method .actions-toolbar .primary {
    float: none; }
  .checkout-index-index .checkout-payment-method .payment-methods {
    margin: 0 !important; } }

@media screen and (max-width: 639px) {
  .opc-wrapper .step-title {
    font-size: 32px !important; } }

.checkout-onepage-success .page-main {
  text-align: center;
  padding: 50px 0; }

.checkout-onepage-success .page-title {
  text-align: center !important;
  letter-spacing: 3px !important;
  font-size: 42px !important;
  margin-bottom: 10px !important; }
  .checkout-onepage-success .page-title .base {
    white-space: pre-line;
    text-align: center !important; }

.checkout-onepage-success .page-main > .page-title-wrapper .page-title + .action {
  display: none; }

.checkout-onepage-success .checkout-success {
  text-align: center !important; }
  .checkout-onepage-success .checkout-success > p {
    margin-bottom: 0;
    font-size: 16px; }
  .checkout-onepage-success .checkout-success p > a {
    font-size: 16px;
    color: #000 !important; }
    .checkout-onepage-success .checkout-success p > a:hover {
      color: #000 !important; }
  .checkout-onepage-success .checkout-success .actions-toolbar .primary {
    display: block !important;
    float: none !important;
    text-align: center; }
    .checkout-onepage-success .checkout-success .actions-toolbar .primary a {
      font-size: 16px;
      text-transform: none;
      text-decoration: underline;
      color: #8e7171 !important;
      padding: 0 !important;
      background: transparent !important;
      margin: 0 !important;
      border: none !important;
      line-height: unset !important; }
      .checkout-onepage-success .checkout-success .actions-toolbar .primary a:hover {
        color: #d0b0b1 !important; }

@media screen and (max-width: 767px) {
  .checkout-onepage-success .page-title {
    font-size: 26px !important; } }
