<virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
    <arguments>
        <argument name="modifiers" xsi:type="array">
            <item name="dynamic_bundle" xsi:type="array">
                <item name="class" xsi:type="string">Arslan\BoxType\Ui\DataProvider\Product\Form\Modifier\Composite</item>
                <item name="sortOrder" xsi:type="number">180</item>
            </item>
            <item name="bundle_stock_data" xsi:type="array">
                <item name="class" xsi:type="string">Arslan\BoxType\Ui\DataProvider\Product\Form\Modifier\StockData</item>
                <item name="sortOrder" xsi:type="number">190</item>
            </item>
        </argument>
    </arguments>
</virtualType>

<type name="ForeverCompanies\DynamicBundle\Ui\DataProvider\Product\Form\Modifier\Composite">
    <arguments>
        <argument name="modifiers" xsi:type="array">
            <item name="bundleSku" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundleSku</item>
            <item name="bundlePrice" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundlePrice</item>
            <item name="bundleWeight" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundleWeight</item>
            <item name="bundleQuantity" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundleQuantity</item>
            <item name="bundleAdvancedPricing" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundleAdvancedPricing</item>
            <item name="bundlePanel" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundlePanel</item>
            <item name="bundleCustomOptions" xsi:type="string">Magento\Bundle\Ui\DataProvider\Product\Form\Modifier\BundleCustomOptions</item>
        </argument>
    </arguments>
</type>
