<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <system>
        <section id="forevercompanies_delighted" translate="label" type="text" sortOrder="150" showInDefault="1"
        showInWebsite="1" showInStore="1">
            <label>Delighted</label>
            <tab>forevercompanies</tab>
            <resource>ForeverCompanies_Gifts::config</resource>
            <group id="api_keys" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>API Keys</label>
                <field id="key" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>API Key for current store scope</label>
                </field>
            </group>
        </section>
    </system>
</config>