<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\ConfigurableProduct\Model\Quote\Item\CartItemProcessor"
	    type="ForeverCompanies\Profile\Model\Quote\Item\CartItemProcessor" />
	<preference for="Magento\Checkout\Controller\Cart\Delete"
	    type="ForeverCompanies\Profile\Controller\Cart\Delete" />
	<preference for="Magento\Checkout\Controller\Cart\Index"
	    type="ForeverCompanies\Profile\Controller\Cart\Index" />
	<preference for="Magento\Catalog\Model\ProductRepository"
	    type="ForeverCompanies\Profile\Model\ProductRepository" />
</config>
